.stat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .list {
    margin-bottom: 10px;
    background-color: rgba(22, 211, 210, 0.15);
    padding: var(--spacing-5) 25px;
    border-radius: var(--border-radius-lg);
    min-height: 65px;
  }

  .list:last-of-type {
    margin-bottom: 0px;
    background-color: #f3f4f5;
  }
  .list p {
    font-weight: bold;
  }

  .list p:last-of-type {
    color: #1fcc96;
    font-size: 24px;
    width: 15%;
    text-align: left;
  }
  .list:last-of-type p:last-of-type {
    color: #fe1b54;
  }

  .heading {
    color: #444444;
    margin-bottom: 10px;
  }

  .material-icons {
    cursor: pointer;
    width: 30px;
    margin-bottom: 10px;
    color: var(--color-text-muted);
  }

  .time {
    color: var(--color-text-muted);
    margin-bottom: 33px;
  }
}
