<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <i class="material-icons popup-close" (click)="closePopup()">close</i>
    <div class="authBlock">
      <h3>Change password</h3>
      <p class="text-center">Please enter your email address to request a password reset.</p>
      <div class="formGroup">
        <label>Email address</label>
        <input type="email" class="formControl" placeholder="email@address.co.za" #passwordResetEmail required>
      </div>
      <div class="formGroup btnHolder">
        <input type="submit" class="btn btnPrimary" value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
  </div>
</div>