<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <i class="material-icons popup-close" (click)="closePopup()">close</i>
    <div class="auth-block">
      <h3>Change password</h3>
      <p class="text-center">Insert your email address associated with your Hungr account. You will receive an email with a link to reset your password.</p>
      <app-form-input
        label="Email address"
        type="email"
        placeholder="email@address.co.za"
        [required]="true"
        [errorMessage]="emailError"
        (valueChange)="onEmailChange($event)"
        #passwordResetEmail>
      </app-form-input>
      <div class="auth-btn-container">
        <button class="hungr-btn hungr-btn-primary" (click)="authService.ForgotPassword(passwordResetEmail.value)">
          Send Link
        </button>
      </div>
    </div>
  </div>
</div>