/* Forgot password component specific styles only */
/* All layout styles are now handled by the centralized auth-layout system */

.popup {
  .popup-content {
    width: 400px;
  }

  .auth-block {
    gap: 15px;
  }
  
  h3 {

    color: #2E3646;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    letter-spacing: -0.001em;
  }
  
  p {
    color: #2E3646;
    text-align: left;
    margin-bottom: 17px;
  }
}