.stat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .heading {
    color: #444444;
    margin-bottom: 10px;
  }

  .material-icons {
    cursor: pointer;
    width: 30px;
    margin-bottom: 10px;
    color: var(--color-text-muted);
  }

  .time {
    color: var(--color-text-muted);
    margin-bottom: 33px;
  }

  .bottom-align {
    align-items: flex-end;
  }

  .stat {
    color: #444444;
    font-family: var(--font-family-primary);
    font-size: 64px;
    font-weight: 600;
    line-height: 1;
  }

  .movement {
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
  }
}
