<nav class="sidebar">
    <div class="subsidebarcontainer">
        <p class="heading">Analytics</p>
        <a routerLink="/dashboard" routerLinkActive="activeMenu"><i class="material-icons">bar_chart</i>Overview</a>
        <a routerLink="/menu-insights" routerLinkActive="activeMenu"><i class="material-icons">content_paste_search</i>Menu insights</a>
        <a routerLink="/visitor-insights" routerLinkActive="activeMenu"><i class="material-icons">group</i>Visitor Insights</a>
        <a routerLink="/sales-insights" routerLinkActive="activeMenu"><i class="material-icons">query_stats</i>Sales Insights</a>
    </div>
    <div class="subsidebarcontainer">
        <p class="heading">Menus</p>
        <a routerLink="/my-menus" routerLinkActive="activeMenu"><i class="material-icons">restaurant</i>My Menus</a>
        <a routerLink="/menus/qr-codes" routerLinkActive="activeMenu"><i class="material-icons">qr_code_scanner</i>QR codes</a>
        <a routerLink="/specials" routerLinkActive="activeMenu"><i class="material-icons">sell</i>Specials</a>
    </div>
    <div class="subsidebarcontainer">
        <p class="heading">Settings</p>
        <a routerLink="/settings/general" routerLinkActive="activeMenu"><i class="material-icons">settings</i>General</a>
        <a routerLink="/settings/branding" routerLinkActive="activeMenu"><i class="material-icons">brush</i>Branding</a>
        <a routerLink="/help" routerLinkActive="activeMenu"><i class="material-icons">support_agent</i>Help</a>
    </div>
    <div class="subsidebarcontainer">
        <a routerLink="/manage-users" routerLinkActive="activeMenu"><i class="material-icons">manage_accounts</i>Manage users</a>
    </div>
</nav>
