<section class="confirmation-container">
  <header class="confirmation-header">
    <h2 class="confirmation-title">{{ data.title }}</h2>
    <i
      class="material-icons"
      (click)="closeDialog()"
      style="cursor: pointer; position: absolute; top: var(--spacing-5); right: var(--spacing-5)"
      >close</i
    >
  </header>
  <p class="confirmation-message">
    {{ data.message }}
  </p>
  <button
    class="hungr-btn hungr-btn-secondary"
    routerLink="/restaurants"
    (click)="closeDialog()"
  >
    done
  </button>
</section>
