.form-container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;

  .form-container-inner {
    position: relative;
  }

  .logo {
    position: absolute;
    top: 17px;
    left: 46px;
    width: 150px;
  }
  &-inner {
    width: 100%;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  h1 {
    color: #2e3646;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 56px;
      .col {
        width: calc(50% - 28px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        h6 {
          color: #2e3646;
          text-align: left;
          margin-bottom: 18px;
        }

        .formGroup {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 25px;

          label {
            color: #9a9a9a;
            margin-bottom: 12px;
          }
        }

        .authBlock {
          width: 100%;
          display: flex;
          flex-direction: column;

          .infobox {
            width: 100%;
            border-radius: 5px;
            background: #f8f9fb;
            padding: 13px 36px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .font-small-medium {
              text-align: left;
              color: #5f6d7e;
            }

            .inner-row {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              p {
                width: 50%;
                font-family: "Poppins", sans-serif;
                font-size: 9px;
                font-weight: 500;
                line-height: 14px;
                letter-spacing: -0.001em;
                text-align: left;
              }
              .vaild {
                color: #16d3d2;
              }
            }
          }
        }
        .inner-row-form-group {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 23px;
          .formGroup {
            width: calc(50% - 12px);
          }
        }
      }
    }
  }
}

.password-toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .material-icons {
    position: absolute;
    top: 11px;
    right: 13px;
    font-size: 19px;
    cursor: pointer;
    color: #ebedee;
  }
}

.icon-first {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .material-icons {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 19px;
    color: #000000;
  }
  input {
    padding-left: 40px;
  }
}

.tab-container {
  display: flex;
  background-color: #f3f4f5;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  gap: 15px;
}

.tab {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 3px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.001em;
  text-align: center;
  color: #2e3646;
}

.tab.active {
  background-color: #2e3646;
  color: #fff;
}

.all-checkboxes {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-direction: row;
  width: 100%;
  label {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: row;
    gap: 9px;

    font-size: 11px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: -0.02em;
  }
}

.row1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  gap: 28px;

  .col {
    width: calc(50% - 14px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;

    .section {
      display: flex;
      flex-direction: column;
      width: 100%;

      .bigger {
        font-size: 11px;
        font-weight: 500;
        line-height: 10px;
        letter-spacing: 0.0015em;
      }

      p {
        font-size: 10px;
        color: #181818;
        line-height: 15px;
        letter-spacing: -0.02em;
      }

      h6 {
        color: #181818;
        margin-bottom: 13px;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.001em;
        text-align: left;
      }

      .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 26px;
        gap: 8px;
        margin-bottom: 23px;
        .listitem {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 5px;
        }
      }

      h3 {
        color: #fff;
        margin-bottom: 12px;
      }
    }
  }

  .col:first-of-type {
    background-color: #afdcff;
  }
  .col:last-of-type {
    background-color: #c8afeb;
  }

  .col.active {
    border: 2px solid #181818;
  }
}

.btn-holder {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
}

.backLink {
  position: absolute;
  left: 0;
  top: 0;
  color: #2e3646;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
