.delete-confirmation {
  border-radius: var(--border-radius-lg);
  background-color: #fff;
  display: flex;
  max-width: 450px;
  flex-direction: column;
  overflow: hidden;
  font-family: var(--hungr-font-family);
  text-align: center;
  padding: 24px;
  position: relative;
}

.confirmation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-4);
}

.confirmation-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 0;
  text-align: center;
  flex: 1;
}

.close-icon {
  width: 15px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.confirmation-message {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto 32px;
  max-width: 350px;
}

.confirmation-actions {
  display: flex;
  gap: var(--spacing-3);
  justify-content: center;

  button {
    outline: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
