.delete-confirmation {
  border-radius: var(--border-radius-lg);
  background-color: #fff;
  display: flex;
  max-width: 399px;
  flex-direction: column;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  text-align: center;
  padding: 23px 25px;
  border: 1px solid #dedede;
}

.confirmation-header {
  display: flex;
  gap: 41px;
  justify-content: space-between;
  align-items: flex-start;
}

.confirmation-title {
  font-size: 1var(--spacing-2);
  font-weight: 700;
  color: #2e3646;
  line-height: 1;
  letter-spacing: -0.02px;
  margin: 0;
}

.close-icon {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.confirmation-message {
  color: #2e3646;
  font-size: 15px;
  font-weight: 400;
  line-height: var(--spacing-5);
  margin: var(--spacing-5) auto 0;
  max-width: 283px;
}

.confirmation-actions {
  display: flex;
  margin-top: 2var(--spacing-2);
  gap: 15px;
}

.action-button {
  flex: 1;
  border-radius: 6px;
  font-size: var(--spacing-4);
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

.cancel {
  background-color: #e4e4e4;
  color: #181818;
}

.confirm {
  background-color: var(--color-secondary);
  color: #181818;
}
