<div class="step2-container block-open-top">
    <ng-content select="[header]"></ng-content>
  
  <div class="block rowSpecial block-open-top">
    <form [formGroup]="specialForm">
      <div class="formGroup centered mb-1 mt-1">
        <p class="mb-1 align-center">What day(s) of the week should this special be valid?</p>
        <div class="weekday-selector">
          <span
            *ngFor="let day of weekdays"
            class="weekday"
            [class.selected]="isSelected(day)"
            (click)="onToggleSelection(day)"
          >
            {{ day }}
          </span>
        </div>
        <div class="error-message" *ngIf="selectedDays.length === 0">
          Please select at least one day of the week.
        </div>
      </div>
      <div class="formGroup centered mt-1">
        <p class="mb-1 align-center">What times should this special be valid?</p>
        <div class="dateRow timeRow">
      
            <div class="col">
              <p class="label">Start time</p>
              <input
                type="time"
                class="formControl"
                formControlName="timeFrom"
                placeholder="Start time"
                value="00:00"
                required
              />
              <div
                class="error-message"
                *ngIf="specialForm.get('timeFrom')?.touched && !specialForm.get('timeFrom')?.value"
              >
                Start time is required.
              </div>
            </div>
            <div class="col toCol">
              <p>To</p>
            </div>
            <div class="col">
              <p class="label">End time</p>
              <input
                type="time"
                class="formControl"
                formControlName="timeTo"
                placeholder="End time"
                value="00:00"
                required
              />
              <div
                class="error-message"
                *ngIf="specialForm.get('timeTo')?.touched && !specialForm.get('timeTo')?.value"
              >
                End time is required.
              </div>
            </div>
      
        </div>
        <div
          *ngIf="specialForm.errors?.['timeRangeInvalid']"
          class="error-message"
        >
          Start time must be before end time.
        </div>
      </div>
    </form>
  </div>
</div> 