@if (layoutMinimised) {
<div class="inner-page">
  <app-loading [isLoading]="isLoading"></app-loading>
  <div class="row">
    <app-stats-overview-block
      heading="Total menu views"
      tooltiptext="Tooltip Text"
      timeText="Last 7 days"
      [stat]="viewingTotalCurrentWeek.toString()"
      [movement]="getWeeklyDifferenceMessage()"
      textSize="L"
    ></app-stats-overview-block>
    <app-stats-card
      title="Average Viewing Time"
      [value]="displayAverageTime + ' min'"
      icon="schedule"
      class="stats-card-primary"
    ></app-stats-card>
    <app-stats-card
      title="Most Popular Viewing Time"
      [value]="popularTime"
      icon="access_time"
      class="stats-card-secondary"
    ></app-stats-card>
  </div>
</div>
} @else {
<div class="inner-page">
  <div class="row" *ngIf="!isLoading">
    <app-stats-overview-block
      heading="Total menu views"
      tooltiptext="Tooltip Text"
      timeText="Last 7 days"
      [stat]="viewingTotalCurrentWeek.toString()"
      [movement]="getWeeklyDifferenceMessage()"
      textSize="L"
    ></app-stats-overview-block>
    <app-stats-overview-block
      heading="New views"
      tooltiptext="Tooltip Text"
      timeText="Last 24 hours"
      [stat]="viewingTotalLast24Hours.toString()"
      [movement]="getDailyDifferenceMessage()"
      textSize="L"
    ></app-stats-overview-block>

    <app-stats-table-block
      heading="Top categories"
      tooltiptext="Tooltip Text"
      timeText="Last 24 hours"
      [data]="topOrderedCategories"
    ></app-stats-table-block>

    <app-stats-overview-block
      heading="Total orders"
      tooltiptext="Tooltip Text"
      [showLeft]="true"
      timeText="Last 7 days"
      [stat]="currentWeekOrderCount.toString()"
      textSize="L"
      [movement]="orderMovementPercentage.toFixed(0) + '%'"
    ></app-stats-overview-block>
  </div>
  <div class="row">
    <app-content-block title="Daily Menu Visits" customClass="biggerBlock">
      <div echarts [options]="chartOptions" class="echart"></div>
    </app-content-block>
    <app-content-block title="Sales Overview">
      <div echarts [options]="chartOptionsSales" class="echart"></div>
    </app-content-block>
  </div>
  <div class="row">
    <app-content-block title="Category insights" customClass="stat1">
      <div class="row">
        <label class="time">Last 30 days</label>
      </div>
      <div class="row list">
        <p>Most Ordered Category</p>
        <p>
          <b>{{ mostOrderedCategory }}</b>
        </p>
      </div>
      <div class="row list">
        <p>Least Ordered Category</p>
        <p>
          <b>{{ leastOrderedCategory }}</b>
        </p>
      </div>
    </app-content-block>

    <app-most-ordered
      heading="Most ordered items"
      tooltiptext="Tooltip Text"
      [data]="topOrderedItems"
    ></app-most-ordered>

    <app-content-block title="Additional insights" customClass="stat">
      <div class="row">
        <label class="time">Last 30 days</label>
      </div>

      <div class="row list">
        <p>Order Value</p>
        <p
          [ngStyle]="{
            color: orderMovementPercentage > 0 ? '#1FCC96' : '#FE1B54'
          }"
        >
          <b>{{ orderMovementPercentage.toFixed(0) }}%</b>
        </p>
      </div>

      <div class="row list">
        <p>Staff Tips</p>
        <p
          [ngStyle]="{
            color: tipValueMovementPercentage > 0 ? '#1FCC96' : '#FE1B54'
          }"
        >
          <b>{{ tipValueMovementPercentage.toFixed(0) }}%</b>
        </p>
      </div>
    </app-content-block>
  </div>
</div>
}
