.inner-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:15px;
    .row{
        width: 100%;
        display: flex;
        flex-direction: row ;
        gap:15px;
    }
}