<div class="container">
  <!--  <div class="row">
    <app-stats-overview-block heading="Sales" tooltiptext="Tooltip Text" timeText="from current specials"
      stat="R 10 000,00" movement=""></app-stats-overview-block>
    <app-stats-overview-block heading="Special Views" tooltiptext="Tooltip Text" timeText="Last 7 days" stat="1000"
      movement="+3%"></app-stats-overview-block>
    <app-stats-overview-block heading="Top Performing Special" tooltiptext="Tooltip Text" timeText="Last 7 days"
      stat="Special Name" movement=""></app-stats-overview-block>
    <app-stats-overview-block heading="Specials Ordered" tooltiptext="Tooltip Text" timeText="Last 7 days" stat="2 345"
      movement=""></app-stats-overview-block>
  </div> -->

  <div class="row">
    <div class="block">
      <div class="row">
        <div class="col">
          <h6>Add a special</h6>
        </div>
        <div class="col">
          <a class="btnSecondary" routerLink="/specials/add-new-special"
            >+ Add special</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="block">
      <h6>Active Specials</h6>
      <div class="row rowSpecials">
        <table class="specialTable" *ngIf="specials.length > 0">
          <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let special of specials; let i = index">
              <td>
                <div>
                  <img
                    [src]="special.imageUrl"
                    alt=""
                    class="imageSpecial"
                    style="max-width: 80px"
                  />
                  <p>{{ special.specialTitle }}</p>
                </div>
              </td>
              <td>
                <div>
                  <p *ngFor="let day of special.selectedDays; let i = index">
                    {{ day }}
                  </p>
                  <p>{{ special.timeFrom }} - {{ special.timeTo }}</p>
                </div>
              </td>
              <td>
                {{ getSpecialTypeLabel(special.typeSpecial) }}
              </td>
              <td>
                <a [routerLink]="['/specials/edit-special', special.specialID]">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="deleteSpecial(special.specialID, i)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="noSpecials" *ngIf="specials.length === 0">
          <p>No specials have been added</p>
        </div>
      </div>
    </div>
  </div>
</div>
