<div class="category-management">
  <div class="block block-open-top">
    <div class="addCol">

      <div class="formGroup">
        <app-form-input
          type="text"
          label="Add a Menu Category"
          placeholder="Name your category"
          class="full-width"
          [ngModel]="newCategoryName"
          (ngModelChange)="onNewCategoryNameChange($event)"
          tooltipText="Create categories to organize your menu items (e.g., Appetizers, Main Courses, Desserts)">
        </app-form-input>
      </div>
      <button class="hungr-btn hungr-btn-primary" (click)="onAddCategory()">
        + Add Category
      </button>
    </div>
  </div>
  <div class="catRow">
    <div *ngFor="let category of categories; let i = index" class="category">
      <div class="title">
        <h6>{{ category.name }}</h6>
        <app-svg-icon 
          iconName="delete" 
          class="dltIcon" 
          size="18px" 
          (click)="onDeleteCategory(i)"
        ></app-svg-icon>
      </div>
      <div class="subcategory-wrapper">
      <div class="inputBox">
        <div class="subcategory-input-wrapper">
          <app-form-input
            type="text"
            placeholder="Type sub-category name here"
            [ngModel]="newSubcategoryName[i]"
            (ngModelChange)="onNewSubcategoryNameChange(i, $event)"
            (keyup.enter)="onAddSubCategory(i)">
          </app-form-input>
          <button 
            type="button"
            class="add-subcategory-btn"
            (mousedown)="$event.preventDefault()"
            (click)="onAddSubCategory(i); $event.stopPropagation()"
            [disabled]="!newSubcategoryName[i] || newSubcategoryName[i].trim() === ''">
            <app-svg-icon 
              iconName="plus" 
              size="16px" 
              [color]="'var(--button-primary-color)'">
            </app-svg-icon>
          </button>
        </div>
        
      </div>

      <div *ngFor="let subcategory of category.subcategories; let j = index" class="subcategory">
        <p>{{ subcategory.name }}</p>
        <div class="deleteIcon">
          <app-svg-icon 
            iconName="close" 
            size="var(--spacing-4)" 
            (click)="onDeleteSubCategory(i, j)"
          ></app-svg-icon>
        </div>
      </div>
    </div>
    </div>
  </div>
</div> 