// Styles for category management component
// Most styles are inherited from parent components 

// Import shared menu styles
@import '../../menus/shared/menu-shared.scss';

// Additional styles specific to category management
.category-management {
  /* KB - Added styles for label container with tooltip */
  

  .addCol {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;

    max-width: 50%;
    min-width: 500px;

    // Custom button styling removed to allow global styles to apply

   
  }

  .subcategory-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  
  }



  .catRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-5);
    margin-top: var(--spacing-5);
  }

  .category {
    background-color: #fff;
    padding: 25px 25px;
    border-radius: var(--border-radius-lg);
    position: relative;
    flex: .5;


    app-svg-icon.dltIcon {
      position: absolute;
      right:22px;
      top:1var(--spacing-2);
      width: 14px;
      
    }

 
    .title {

  
      display:flex;
      padding-bottom: 1.5rem;
      
      .addBox, .menuSub {
        cursor: pointer;
        color: var(--color-secondary);
      }
    }
    

  }



  .popup-menu {
    position: absolute;
    right: 0px;
    top: 100%;
    background-color: #f8f9fb;
    border: 1px solid #dedede;
    border-radius: var(--border-radius-lg);
    padding: 13px;
    z-index: 50;
    
    a {
      display: block;
      padding: 5px 0;
      color: #181818;
      text-decoration: none;
      font-size: 11px;
      cursor: pointer;
      
      &:hover {
        color: var(--color-secondary);
      }
    }
  }
} 