<div class="auth-layout">
    <app-logo containerClass="auth-logo"></app-logo>
    <div class="auth-layout-inner">
        <div class="auth-header-line">
            <a class="backLink no-absolute" routerLink="/sign-in"><span class="material-symbols-outlined">
                    arrow_back
                </span>Back</a>
            <h1>Sign Up</h1>
        </div>
        <form [formGroup]="step1Form">
            <div class="auth-form-grid">
                <div class="auth-form-col">
                    <h6>Your details</h6>
                  
                        <app-form-input
                            label="First name"
                            type="text"
                            placeholder="John"
                            [required]="true"
                            [errorMessage]="getFieldError('firstName')"
                            formControlName="firstName">
                        </app-form-input>

                        <app-form-input
                            label="Surname"
                            type="text"
                            placeholder="Smith"
                            [required]="true"
                            [errorMessage]="getFieldError('lastName')"
                            formControlName="lastName">
                        </app-form-input>

                        <h6 class='mt-md'>Contact Details</h6>
                        <app-form-input
                            label="Email"
                            type="email"
                            placeholder="email@address.co.za"
                            [required]="true"
                            [errorMessage]="getFieldError('userEmail')"
                            formControlName="userEmail">
                        </app-form-input>
                        <app-form-input
                            label="Cellphone number"
                            type="tel"
                            placeholder="+27 12 234 5678"
                            [required]="true"
                            [errorMessage]="getFieldError('cellphone')"
                            formControlName="cellphone">
                        </app-form-input>
              
                </div>
                <div class="auth-form-col">
                    <h6>Login details</h6>
                    <app-form-input
                        label="Password"
                        [type]="showPassword ? 'text' : 'password'"
                        placeholder="Password"
                        [required]="true"
                        [errorMessage]="getFieldError('password')"
                        [suffixIcon]="showPassword ? 'visibility_off' : 'visibility'"
                        (suffixIconClick)="togglePasswordVisibility()"
                        formControlName="password">
                    </app-form-input>

                    <app-form-input
                        label="Confirm Password"
                        [type]="showPasswordConf ? 'text' : 'password'"
                        placeholder="Confirm Password"
                        [required]="true"
                        [errorMessage]="getFieldError('userPwdConfrim')"
                        [suffixIcon]="showPasswordConf ? 'visibility_off' : 'visibility'"
                        (suffixIconClick)="togglePasswordConfirmVisibility()"
                        formControlName="userPwdConfrim">
                    </app-form-input>
                    <div class="auth-info-box mt-md">
                        <p class="auth-info-text">Make sure your password has:</p>
                        <div class="auth-info-row">
                            <p [ngClass]="{'valid': isLengthValid()}">10 characters</p>
                            <p [ngClass]="{'valid': isUppercaseValid()}">an uppercase letter</p>
                            <p [ngClass]="{'valid': isSpecialCharValid()}">a special character</p>
                            <p [ngClass]="{'valid': isLowercaseValid()}">a lowercase letter</p>
                            <p [ngClass]="{'valid': isNumberValid()}">a number</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="auth-btn-container">
                <button (click)="onNext()" class="hungr-btn hungr-btn-primary" [disabled]="step1Form.invalid">Next</button>
            </div>
            <div class="auth-redirect">
                <a class="auth-redirect-link" routerLink="/sign-in">
                    Already have an account? Log In
                </a>
            </div>
        </form>
    </div>

</div>