.form-container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;

  .logo {
    position: absolute;
    top: 17px;
    left: 46px;
    width: 150px;
  }
  &-inner {
    width: 100%;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 62px;
    position: relative;
  }

  h1 {
    color: #2e3646;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      .col {
        width: calc(50% - 15px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        h6 {
          color: #2e3646;
          text-align: left;
          margin-bottom: 18px;
        }

        .formGroup {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 25px;

          label {
            color: #9a9a9a;
            margin-bottom: 12px;
          }
        }

        .authBlock {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        .inner-row-form-group {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 23px;
          .formGroup {
            width: calc(50% - 12px);
          }
        }
      }
    }
  }
}

.password-toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .material-icons {
    position: absolute;
    top: 11px;
    right: 13px;
    font-size: 19px;
    cursor: pointer;
    color: #ebedee;
  }
}

.icon-first {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .material-icons {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 19px;
    color: #000000;
  }
  input {
    padding-left: 40px;
  }
}

.backLink {
  position: absolute;
  left: 0;
  top: 0;
  color: #2e3646;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.valid {
  color: #16d3d2;
}

.infobox {
  width: 100%;
  border-radius: 5px;
  padding: 13px 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .font-small-medium {
    text-align: left;
    color: #5f6d7e;
  }

  .inner-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    p {
      width: 50%;
      font-family: "Poppins", sans-serif;
      font-size: 9px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: -0.001em;
      text-align: left;
    }
  }
}
