.inner-page{
    display: flex;
    flex-direction: row;
    gap: 15px;

    .block{
        width: 100%;
    }
    .list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 25px;

        .tut{
            position: relative;
            width: calc(50% - 15px);
            border-radius: 15px;
            overflow: hidden;
            cursor: pointer;
            height: 260px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 100%;
                transition: 0.3s all;
                transform: scale(1);
                border-radius: 15px;
            }

            p{
                position: absolute;
                bottom: 15px;
                left: 15px;
                color: white;
                font-weight: bold;
                font-size: 15px;
                margin: 0;
            }
            i{
                opacity: 0;                
                color: white;
                font-size: 40px;
                position: absolute;
                transition: 0.3s all;
            }
        }

        .tut:hover img{
            transform: scale(1.05);
        }

        .tut:hover i{
            opacity: 1;
        }
    }

}


.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 46%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
align-items: flex-start;

iframe{
    width: 100%;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

  }
  
  .close {
    color: #aaa;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    right: 15px;
    top:15px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .open {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
