<div class="inner-page">
    <div class="block">
        <div class="row alignright">
            <a class="btnSecondary" (click)="newQR.openPopup()">Generate QR code</a>
        </div>

          <h6>Menus</h6>
          <div class="userTable">
              <table>
                <thead>
                  <tr>
                      <th></th>
                      <th>Menu Name</th>
                      <th>Location</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menu of menus; let i = index">
                      <td>{{ i+1 }}</td>
                      <td>{{ menu.menuName }}</td>
                      <td>{{ menu.location }}</td>
                      <td style="text-align: right;">
                          <i class="material-icons" (click)="togglePopupMenu(i)">more_vert</i>
                          <div class="popup-menu" *ngIf="isPopupMenuOpen[i]">
                              <a  (click)="viewQR.openPopup(menu.menuID)">View</a>
                              <a (click)="deleteQR(menu.menuID, i)">Unassign</a>
                              <i class="material-icons closeBtn" (click)="togglePopupMenu(i)">close</i>
                          </div>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
    </div>
    
</div>
<app-add-qr #newQR [menus]="menus"></app-add-qr>
<app-view-qr #viewQR></app-view-qr>
<app-loading [isLoading]="isSaving"></app-loading>