<app-page-layout
  title="QR Code Management"
  subtitle="Generate and manage QR codes for your restaurant menus"
  [actions]="[
    {
      label: '+ Create QR Code',
      type: 'primary',
      onClick: openAddQrModal.bind(this)
    }
  ]"
  [loading]="isLoading">


  <!-- QR Codes Table -->
  <app-content-block
    title="Menu QR Codes"
    subtitle="QR codes allow customers to access your menus. Menus must be assigned QR codes to be accessible.">

    <app-data-table
      [data]="menus"
      [columns]="menuColumns"
      [actions]="menuActions"
      [showIndex]="true"
      [loading]="isLoading"
      emptyMessage="No menus found"
      (actionClick)="onMenuAction($event)"
      (rowClick)="onRowClick($event)">



      <!-- Custom view QR action template -->
      <ng-template #viewQrActionTemplate let-row="row">
        <app-action-button *ngIf="row.qrAssigned"
                          type="view"
                          title="View QR Code"
                          (actionClick)="viewQR.openPopup(row.menuID)">
        </app-action-button>
        <span *ngIf="!row.qrAssigned" class="no-qr-text">No QR assigned</span>
      </ng-template>

    </app-data-table>
  </app-content-block>

</app-page-layout>

<app-add-qr #newQR [menus]="menus"></app-add-qr>
<app-view-qr #viewQR></app-view-qr>
