.spinner-container {
  display: inline-block;
  position: relative;
}

.spinner {
  width: 100%;
  height: 100%;
  border: 3px solid rgba(254, 27, 84, 0.1);
  border-top: 3px solid var(--color-primary);
  border-radius: 50%;
  animation: spinner-rotate 1s linear infinite;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



