.displayTable{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../../assets/images/backgrounds/background.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

    .displayTableCell{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        flex-direction: column;
        background-color: white;
        padding: 50px;
        border-radius: var(--border-radius-lg);

        .authBlock{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap:25px;

            p{
                text-align: center;
                color: #2E3646;
                font-family: 'Poppins';
                font-size: var(--spacing-4);
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.02em;
                text-align: center;

            }
        }
    }
}
h2{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    color: #2E3646;
     
}
.redirectToLogin{
    p{
font-family: 'Poppins';
font-size: 11px;
font-weight: 400;
line-height: 14.3px;
letter-spacing: -0.001em;
text-align: center;
color: #9A9A9A;
    }
}