<div class="step-navigation">
  <div class="step-buttons">
    <div class="left-buttons">
      <button *ngIf="showCancel" class="hungr-btn hungr-btn-secondary" [routerLink]="cancelRoute" [class.disabled]="isDisabled">
        Cancel
      </button>
      <button *ngIf="showDraft" class="hungr-btn hungr-btn-secondary" (click)="onDraft()" [disabled]="isDisabled">
        SAVE AS DRAFT
      </button>
      <button *ngIf="showPublish" class="hungr-btn hungr-btn-primary" (click)="onPublish()" [disabled]="isDisabled">
        PUBLISH MENU
      </button>
      <button *ngIf="showSubmit" class="hungr-btn hungr-btn-primary" (click)="onSubmit()" [disabled]="isDisabled">
        {{ submitText }}
      </button>
      <button *ngIf="showPrevious" class="hungr-btn hungr-btn-primary" (click)="onPrevious()" [disabled]="isDisabled">
        Previous
      </button>
      <button *ngIf="showNext" class="hungr-btn hungr-btn-primary" (click)="onNext()" [disabled]="nextDisabled || isDisabled">
        {{ nextText }}
      </button>
      <!-- Debug info -->
      <div style="display: none;">showNext: {{ showNext }}</div>
      <button *ngIf="showDone" class="hungr-btn hungr-btn-primary" [routerLink]="cancelRoute" [class.disabled]="isDisabled">
        Done
      </button>
    </div>
    <div class="right-buttons">
     
     
  
    </div>
  </div>
</div> 