<div class="price-input-container">
  <div class="field-holder">
    <label *ngIf="label" class="form-label" [class.required]="required">
      {{ label }}
    </label>
    
    <div class="input-wrapper" [class.error]="showError" [class.disabled]="disabled">
      <input
        type="text"
        class="price-input"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [(ngModel)]="displayValue"
        (blur)="onBlur()"
        (keydown)="onKeyDown($event)"
        autocomplete="off"
        spellcheck="false"
      />
    </div>
    
    <div *ngIf="showError && errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div> 