<div class="outer">
  <div class="outer-container">
    <div class="col downloadappcol">
      <img src="../../../assets/images/login/dashboard1.png" alt="" />
    </div>
    <div class="col formCol">
      <img class="logo" src="../../../assets/images/shared/logo.png" alt="" />
      <h1>Log In</h1>
      <div class="displayTableCell">
        <div class="authBlock">
          <div class="formGroup">
            <label>Email</label>
            <input
              type="text"
              class="formControl"
              placeholder="Email"
              #userName
              required
            />
          </div>
          <div class="formGroup">
            <label>Password</label>
            <div class="password-toggle">
              <input
                class="formControl"
                placeholder="Password"
                #userPassword
                required
                type="{{ showPassword ? 'text' : 'password' }}"
                (keyup.enter)="
                  authService.SignIn(userName.value, userPassword.value)
                "
              />
              <i class="material-icons" (click)="togglePasswordVisibility()">{{
                showPassword ? "visibility" : "visibility_off"
              }}</i>
            </div>
            <div class="forgotPassword">
              <span class="mainLink" (click)="forgotPassword.openPopup()"
                >Forgot Password?</span
              >
            </div>
          </div>
          <div class="formGroup btnHolder">
            <input
              type="button"
              class="btn btnPrimary"
              value="Log in"
              (click)="authService.SignIn(userName.value, userPassword.value)"
            />
          </div>
        </div>
        <div class="redirectToLogin">
          <span class="redirect mainLink" routerLink="/register-user">
            Don't have an account? Sign Up</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<app-forgot-password #forgotPassword></app-forgot-password>
