<div class="step1-container block-open-top">
 
    <ng-content select="[header]"></ng-content>

  <app-content-block title="" customClass="rowSpecial block-open-top">
    <form [formGroup]="specialForm">
      <div class="formGroup">
        <app-form-input
          type="text"
          label="Special Title"
          placeholder="Enter special title"
          [required]="true"
          [errorMessage]="specialForm.get('specialTitle')?.touched && specialForm.get('specialTitle')?.invalid ? 'Special Title is required.' : ''"
          formControlName="specialTitle">
        </app-form-input>
      </div>
      <div class="formGroup">
        <p class="label">Select Menu</p>
        <mat-form-field subscriptSizing="dynamic" style="width: 100%;">
          <mat-select
            class="select-arrow-fix"
            formControlName="menu"
            (selectionChange)="onMenuChange()">
            <mat-option *ngFor="let menu of menus" [value]="menu.menuID">
              {{ menu.menuName }}
            </mat-option>
          </mat-select>
          <div
            class="error-message"
            *ngIf="specialForm.get('menu')?.touched && specialForm.get('menu')?.invalid"
          >
            Menu selection is required.
          </div>
        </mat-form-field>
      </div>
      <div class="formGroup">
        <p class="label">Type of Special</p>
        <mat-form-field subscriptSizing="dynamic" style="width: 100%;">
          <mat-select
            class="select-arrow-fix"
            formControlName="typeSpecial"
            (selectionChange)="onSpecialTypeChange()">
            <mat-option *ngFor="let type of specialTypes" [value]="type.id">
              {{ type.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          class="error-message"
          *ngIf="specialForm.get('typeSpecial')?.touched && specialForm.get('typeSpecial')?.invalid"
        >
          Type of special is required.
        </div>
      </div>
      <div class="formGroup dateRow">
       
          <div class="col">
            <app-form-input
              type="date"
              label="Start Date"
              placeholder="Start date"
              [required]="true"
              [errorMessage]="specialForm.get('dateFrom')?.touched && (specialForm.get('dateFrom')?.invalid || !specialForm.get('dateFrom')?.value) ? 'Start date is required.' : ''"
              formControlName="dateFrom">
            </app-form-input>
          </div>
          <div class="col">
            <app-form-input
              type="date"
              label="End Date"
              placeholder="End date"
              [required]="true"
              [errorMessage]="specialForm.get('dateTo')?.touched && (specialForm.get('dateTo')?.invalid || !specialForm.get('dateTo')?.value) ? 'End date is required.' : ''"
              formControlName="dateTo">
            </app-form-input>
        </div>
        <div
          *ngIf="specialForm.errors?.['dateRangeInvalid']"
          class="error-message"
        >
          Start date must be before end date.
        </div>
      </div>
    </form>
  </app-content-block>
</div> 