<div class="settingspage inner-page">
  <app-content-block title="Profile">
    <form
      [formGroup]="accountForm"
      (ngSubmit)="saveAccountDetails()"
      class="profile-form"
    >
      <div class="form-grid">
        <div class="formGroup">
          <app-form-input
          class="max-width-100"
            label="First name"
            type="text"
            placeholder="John"
            [required]="true"
            [errorMessage]="getFieldError('name')"
            formControlName="name">
          </app-form-input>
        </div>

        <div class="formGroup">
          <app-form-input
            label="Surname"
            type="text"
            placeholder="Smith"
            class="max-width-100"
            [required]="true"
            [errorMessage]="getFieldError('surname')"
            formControlName="surname">
          </app-form-input>
        </div>

        <div class="formGroup">
          <app-phone-input
            label="Phone number"
            class="max-width-100"
            placeholder="+27 12 234 5678"
            [required]="true"
            [errorMessage]="getFieldError('phone')"
            formControlName="phone">
          </app-phone-input>
        </div>

      
      </div>
    </form>
    <div class="button-row between">
      <a (click)="onResetPassword()" class="reset-password-link">Reset Password</a>
      <div class='button-row no-margin'>
      <button class="hungr-btn hungr-btn-logout" (click)="authService.SignOut()">Log Out</button>
      <button class="hungr-btn hungr-btn-primary" (click)="saveAll()">Save Changes</button>
    </div>
    </div>
  </app-content-block>

  <app-content-block title="Notifications" *ngIf="currentUserData">
    <div class="toggle-grid">
      <div class="toggle-container">
        <label>Email Notifications</label>
        <mat-slide-toggle
          [(ngModel)]="currentUserData!.marketingConsent"
          color="#16D3D2"
        ></mat-slide-toggle>
      </div>

      <div class="toggle-container">
        <label>Tips & Tutorials</label>
        <mat-slide-toggle
          [(ngModel)]="currentUserData!.tipsTutorials"
          color="#16D3D2"
        ></mat-slide-toggle>
      </div>

      <div class="toggle-container">
        <label>User Insights</label>
        <mat-slide-toggle
          [(ngModel)]="currentUserData!.userInsights"
          color="#16D3D2"
        ></mat-slide-toggle>
      </div>
    </div>
    <div class="button-row">
      <button 
        class="hungr-btn hungr-btn-primary" 
        (click)="saveNotificationSettings()"
        [disabled]="isSavingNotifications">
        Save Changes
      </button>
    </div>
  </app-content-block>

  <!--  <app-content-block title="POS Integration" customClass="posBlock">
    <h6>POS Integration</h6>
    <div class="row">
      <p>
        This is the POS system that is currently linked to your HUNGR account..
      </p>
      <div class="formGroup">
        <div class="label-container">
          <div class="error-message">POS System name</div>
        </div>
        <div class="input-holder">
          <mat-select placeholder="POS System name">
            <mat-optgroup>
              <mat-option value="gaap">GAAP</mat-option>
              <mat-option value="oracle">Oracle Micros</mat-option>
              <mat-option value="pilot">Pilot</mat-option>
            </mat-optgroup>
          </mat-select>
        </div>
      </div>
    </div>
  </div> -->
</div>

<app-loading [isLoading]="isSaving"></app-loading>
