<section class="delete-confirmation">
    <div class="row">
        <div class="col">
            <h5>{{restaurant.restaurantName}}</h5>
            
        </div>
        <div class="col">
         
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="label">Address</p>
            <p class="answer">{{restaurant.streetAdress}}</p>
           
        </div>
        <div class="col">
            <p class="label">Number of tables</p>
            <p class="answer">{{restaurant.numberTables}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          
            <p class="label">Assigned Users</p>
            <p class="answer">{{owner}}</p>
        </div>
        <div class="col">
            <p class="label">Assigned Menu</p>
            <p class="answer menu-answer">{{menuName || 'No menu'}}</p>
        </div>
    </div>

    <footer class="confirmation-actions">
        <button class="hungr-btn hungr-btn-secondary" (click)="onCancel()">Close</button>
        <button class="hungr-btn hungr-btn-primary" [routerLink]="['/restaurants/edit-restaurant', restaurant.restaurantID]"
            (click)="onCancel()">Edit</button>
    </footer>
</section>