<div class="container">
    <div class="row">
        <h6 class="heading">Your Restaurants</h6>
        <i class="material-icons" (mouseenter)="isTooltipOpen = true" (mouseleave)="isTooltipOpen = false">information
            <app-tooltip [text]="'Lorem ipsum about this block'" *ngIf="isTooltipOpen"
                [isVisible]="isTooltipOpen"></app-tooltip></i>
    </div>
    <div class="restaurantholder" *ngFor="let restaurant of restaurants; let i = index">
        <p>{{ restaurant.restaurantName }}</p>
        <span [style.color]="restaurant.status ? '#1FCC96' : '#9A9A9A'">{{ restaurant.status ? 'active' : 'inactive'
            }}</span>
        <i class="material-icons" (click)="togglePopupMenu(i)">more_vert</i>
        <div class="popup-menu" *ngIf="isPopupMenuOpen[i]">
            <a [routerLink]="['/restaurants/edit-restaurant', restaurant.restaurantID]">Edit</a>
            <a (click)="confirmDeleteRestaurant(restaurant.restaurantID, i, restaurant.restaurantName)">Delete</a>
            <i class="material-icons closeBtn" (click)="togglePopupMenu(i)">close</i>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <button class="hungr-btn hungr-btn-secondary" routerLink="/restaurants/add-new-restaurant">Add restaurant</button>
    </div>
</div>