.inner-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  .row {
    display: grid;
    grid-template-columns: var(--layout-content-width) var(--layout-sidebar-width);
    gap: var(--grid-gap-md);
    margin-bottom: var(--margin-lg);

    .col-large {
      /* Content takes up the larger portion automatically */
    }

    .col-small {
      display: flex;
      flex-direction: column;
      gap: var(--grid-gap-md);

      .block {
        flex: 1;
        justify-content: center;
      }
    }
  }
}



::ng-deep .mdc-tab {
  padding: 0 10px !important;
  min-width: unset !important;
  height: 40px !important;
}

::ng-deep .mat-mdc-tab {
  flex-grow: unset !important;
}

::ng-deep .mat-mdc-tab-labels {
  align-items: flex-end !important;
  justify-content: flex-end !important;
  display: flex !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  font-family: var(--font-family-primary) !important;
  font-size: 10px !important;
  font-weight: 500 !important;
  line-height: 10px !important;
  text-align: left !important;
  text-transform: uppercase !important;
  color: #181818 !important;
}

.marginTop {
  margin-top: -30px;
}