<div class="inner-page">
    <app-loading [isLoading]="isLoading"></app-loading>
    <div class="row">
        <div class="col-large">
            <app-content-block title="Menu Views by Hour">
                <mat-tab-group (selectedIndexChange)="onTabChange($event)" class="marginTop">
                    <mat-tab *ngFor="let day of daysOfWeek; index as i" [label]="day"></mat-tab>
                </mat-tab-group>

                <div echarts [options]="options" class="chart marginTop" *ngIf="!isLoading"></div>
            </app-content-block>
        </div>
        <div class="col-small">
            <app-stats-insight-card
                title="Average Viewing Time"
                [value]="averageTime + ' min'"
                type="text-block"
                variant="primary"
            ></app-stats-insight-card>
            <app-stats-insight-card
                title="Most Popular Viewing Time"
                [value]="popularTime"
                type="text-block"
                variant="secondary"
            ></app-stats-insight-card>
        </div>
    </div>
</div>