<div class="container">
  <div *ngIf="currentStep === 1">
    <div class="headerBlock">
      <app-progress-bar [showBackButton]="true" [backRoute]="'/menus'" [progress]="currentStep" (backButtonClick)="onBackButtonClick()"></app-progress-bar>
      <app-step-header
        [stepNumber]="1"
        [stepTitle]="'General Details'"
        [showDescription]="false">
      </app-step-header>
    </div>
    <app-menu-form-step
      [menuName]="menuName"
      [selectedRestaurant]="selectedRestaurant"
      [restaurants]="restaurants"
      [menuNameError]="menuNameError"
      [restaurantError]="restaurantError"
      [currentStep]="currentStep"
      [addRestaurantLater]="addRestaurantLater"
      (menuNameChange)="menuName = $event"
      (selectedRestaurantChange)="selectedRestaurant = $event"
      (validateMenuName)="validateMenuName()"
      (validateRestaurant)="validateRestaurant()"
      (addRestaurantClick)="onAddRestaurantClick($event)"
      (addRestaurantLaterChange)="onAddRestaurantLaterChange($event)"
    ></app-menu-form-step>
    
    <app-step-navigation
      [nextDisabled]="menuNameError || restaurantError"
      [isSaving]="isSaving"
      (next)="nextStep()"
    ></app-step-navigation>
  </div>

  <div *ngIf="currentStep === 2">
    <div class="headerBlock">
      <app-progress-bar [progress]="currentStep" (backButtonClick)="onBackButtonClick()"></app-progress-bar>
      <app-step-header
        [stepNumber]="2"
        [stepTitle]="'Create your menu categories'"
        [showDescription]="false">
      </app-step-header>
    </div>

    <app-category-management
      [categories]="categories"
      [newCategoryName]="newCategoryName"
      [newSubcategoryName]="newSubcategoryName"
      [isPopupMenuOpen]="isPopupMenuOpen"
      [isAddInputVisible]="isAddInputVisible"
      [currentStep]="currentStep"
      stepTitle="Create your menu categories"
      (newCategoryNameChange)="newCategoryName = $event"
      (newSubcategoryNameChange)="newSubcategoryName = $event"
      (addCategory)="addCategory()"
      (addSubCategory)="addSubCategory($event)"
      (deleteCategory)="deleteCategory($event)"
      (deleteSubCategory)="deleteSubCategory($event.categoryIndex, $event.subcategoryIndex)"
      (togglePopupMenu)="togglePopupMenu($event)"
    ></app-category-management>
    
    <app-step-navigation
      [showDraft]="true"
      [isSaving]="isSaving"
      (draft)="setAsDraft()"
      (next)="nextStep()"
    ></app-step-navigation>
  </div>

  <div *ngIf="currentStep === 3">
    <div class="headerBlock">
      <app-progress-bar 
        [progress]="currentStep" 
        [backRoute]="'/menus'"
        (stepClick)="navigateToStep($event)"
        (backButtonClick)="onBackButtonClick()">
      </app-progress-bar>
      
      <app-step-header
        [stepNumber]="currentStep"
        [stepTitle]="'Add Items to Your Menu'"
        [description]="'Please select how you would like to add your menu items.'"
        [showDescription]="true">
      </app-step-header>
    </div>
    <app-menu-item-selection
      [existingMenuItems]="menuItems"
      [categories]="categories"
      (bulkUploadClick)="openPopupuploadFile()"
      (manualAddClick)="navigateToStep(4)"
      (stepClick)="navigateToStep($event)"
      (menuItemsUploaded)="onMenuItemsUploaded($event)"
    ></app-menu-item-selection>

  </div>

  <div *ngIf="currentStep === 4">
    <div class="headerBlock closedBottom">
  
      <app-progress-bar 
        [progress]="currentStep" 
        [backRoute]="'/menus'"
        (stepClick)="navigateToStep($event)"
        (backButtonClick)="onBackButtonClick()">
      </app-progress-bar>
      
      <app-step-header
        [stepNumber]="3"
        [stepTitle]="'Manually Add menu items'"
        [description]="'Please add the menu items and their details below.'"
        [showDescription]="true">
      </app-step-header>
      <div class="addItemBtn">
        <button class="btnSecondary" (click)="addMenuItemMore()">
          + Add item
        </button>
      </div>
    </div>

    <!-- KB: Add CDK drag and drop container for menu item reordering -->
    <div 
      cdkDropList 
      class="menu-items-container"
      (cdkDropListDropped)="onMenuItemDrop($event)"
    >
      <div 
        cdkDrag 
        *ngFor="let menuItem of menuItems; let itemIndex = index"
        class="menu-item-drag-container"
      >
        <app-menu-item-form
          [menuItem]="menuItem"
          [itemIndex]="itemIndex"
          [categories]="categories"
          [availableMenuItems]="menuItems"
          [newPreparation]="newPreparation"
          [newVariation]="newVariation"
          [newPairing]="newPairing"
          [newSideName]="newSideName"
          [newSidePrice]="newSidePrice"
          [newAllergen]="newAllergen"
          [newLabel]="newLabel"
          (removeMenuItem)="removeMenuItem($event)"
          (toggleDetail)="toggleDetail($event.detailType, $event.itemIndex)"
          (addPreparation)="addPreparation($event)"
          (removePreparation)="removePreparation($event.itemIndex, $event.prepIndex)"
          (addVariation)="addVariation($event)"
          (removeVariation)="removeVariation($event.itemIndex, $event.variationIndex)"
          (addPairing)="addPairing($event)"
          (removePairing)="removePairing($event.itemIndex, $event.pairingIndex)"
          (addMenuItemPairing)="addMenuItemPairing($event)"
          (removeMenuItemPairing)="removeMenuItemPairing($event)"
          (addSide)="addSide($event)"
          (removeSide)="removeSide($event.itemIndex, $event.sideIndex)"
          (addAllergen)="addAllergen($event)"
          (removeAllergen)="removeAllergen($event.itemIndex, $event.allergenIndex)"
          (addLabel)="addLabel($event)"
          (removeLabel)="removeLabel($event.itemIndex, $event.labelIndex)"
          (fileSelected)="onFileSelected($event.event, $event.itemIndex)"

          (getFile)="getFile($event)"
          (newPreparationChange)="newPreparation = $event"
          (newVariationChange)="newVariation = $event"
          (newPairingChange)="newPairing = $event"
          (newSideNameChange)="newSideName = $event"
          (newSidePriceChange)="newSidePrice = $event"
          (newAllergenChange)="newAllergen = $event"
          (newLabelChange)="newLabel = $event"
        ></app-menu-item-form>
      </div>
    </div>
    
    <app-step-navigation
      [showCancel]="true"
      [showDraft]="true"
      [showNext]="true"
      [isSaving]="isSaving"
      (next)="nextStep()"
    ></app-step-navigation>
  </div>

  <div *ngIf="currentStep === 5">
    <app-menu-completion-success
      [backRoute]="'/menus'"
      [menuId]="currentMenuID"
      [isSaving]="isSaving"
      [showSaveDraft]="true"
      [showPublishMenu]="true"
      (saveAsDraft)="setAsDraft()"
      (publishMenu)="setAsPublished()"
    ></app-menu-completion-success>
  </div>
</div>

<app-loading [isLoading]="isSaving"></app-loading>
