.container{
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;

    .row{
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    .block{
        width: 100%;
        position: relative;
    }

    .headerRow{
        gap: 14px;
        margin-bottom: 20px;
    }
}

.labelStep{
    color: rgba(60, 225, 175, 1);
    font-weight: 700;

}
.row3col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1%;

    .col3row{
        width: 32%;
        display: flex;

       
    }
    .headerRow{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .headerContainer{
            justify-content: center;
        align-items: center;

        }
    }

    .btnCol{
        flex-wrap: wrap;
        gap: 10px;
        a{
            width: 48%;
        }
    }
}
.col2row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;

    .col{
        width: calc(50% - 8px);
        display: flex;
    }
}

.formGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

mat-form-field{
    width: 100%;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.outerBlock{
    padding: 10px 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    background-color: #F3F4F5;
    border-radius: 5px;

    input{
       flex: 1;
       height: 100%;
    }
}

.row{
    flex-wrap: wrap;
    gap:15px;

    i{
        cursor: pointer;
    }

    .category{
        width: calc(50% - 8px);
        display: flex;
        flex-direction: column;
        gap: 5px;

        .title{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: #F3F4F5;
            position: relative;

            .addBox{
                position: absolute;
                right: 30px;
            }

            .menuSub{
                position: absolute;
                right: 10px;
            }
        }
    }
}

.popup-menu{
    position: absolute;
    right: 0px;
    transition: 0.3s all;
    background-color: #F8F9FB;
    border: 1px solid #DEDEDE;
    display: flex;
    flex-direction: column;
    gap:13px;
    padding: 13px;
    border-radius: 10px;
    width: 90px;
    z-index: 50;
    a{
        font-family: 'Barlow', sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: -2%;
        color:#181818;
        width: 100%;
        cursor: pointer;
        text-align: left;
        text-decoration: none;
    }
    .closeBtn{
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.subcategory{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    border: 1px solid #C8AFEB;
    p{
        font-weight: bold;
    }

    .deleteIcon{
        position: absolute;
        right: 10px;
        i{
            color: #C8AFEB;
        }
    }

}

.inputHolder{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p{
        position: absolute;
        right: 10px;
        color: #9A9A9A;
    }
}

.uploadBlock{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #F3F4F5;
    border-radius: 5px;
    cursor: pointer;
}

.backBtn{
    cursor: pointer;
    
    p{
        color: #9A9A9A;
    }

    i{
        font-size: 13px;
        color: #9A9A9A;
    }
}

.itemCol{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.itemCol:first-of-type, .itemCol:last-of-type{
    width: 25%;
}

.step2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.step1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.smallerInput{
    width: 100%;
}
.image{
    width: 47%;
    display: flex;
    flex-direction: column;
}

.labelAdd{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #9A9A9A;
    cursor: pointer;
    span{
        text-decoration: underline;
    }
}
.priceContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    .col{
        gap:10px;
        display: flex;
        flex-direction: column;
    }
}
.labelRow{
    justify-content: space-between;
    align-items: center;
}

.itemCol{
    gap: 10px;
    mat-select{
        border: 1px solid gray;
        padding: 10px;
    }
}


.itemCol:nth-of-type(2){
    width: 50%;
    flex: 1;
}

.uploadImg {
    border: 1px solid grey;
    background-color: transparent;
}

#yourBtn {
    width: 150px;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #DEDEDE;
    text-align: center;
    cursor: pointer;
  }

  
#yourBtn p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.additionalItems{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: #F3F4F5;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    padding: 15px 10px;
    margin-top: 30px;
    .col{
        width: calc(50% - 20px);
        display: flex;
    }

    .col:first-of-type{
        flex-direction: column;
        gap: 25px;
        .inputHolder{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 15px;

            input{
                width: 80%;
            }
            a{
                flex: 1;
            }
        }
    }

    .col:last-of-type{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        align-items: flex-end;

        .item{
            width: calc(50% - 8px);
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 13px;
            position: relative;
            border: 1px solid #C8AFEB;
            border-radius: 2px;
            background-color: white;
            i{
                position: absolute;
                right: 12px;
                color: #C8AFEB;
                cursor: pointer;

            }
        }
    }
}

.closeIconItem{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
}

.colrow{
   width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 0 !important;
    .labelStep{
        span{
            text-transform: uppercase;
        }
    }
}

.step3 .row3col{
    position: relative;
    .col3row{
        position: absolute;

    }
}

.innerRow{
    width: 100%;
    background-color: #F3F4F5;
    padding: 10px 10px 10px 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    .btnHold{
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: flex-end;
        align-items: center;
    }
}

.nextSteps{
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.preview{
    background-image: url('../../../../assets/images/branding/phone.png');
    background-position: center;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 90%;
    margin: auto;
    gap: 20px;
    min-height: 450px;
}

.step3{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;

    .col{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .col:first-of-type{
        width: 60%;
    }
    .col:last-of-type{
        width: 40%;
    }

    .heading{
        margin-bottom: 20px;
    }
}

.popup-content{
    display: flex;
    gap: 20px;
    flex-direction: column;
    .row{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
}

.uploadItems .col{
    background-color: #ECEDEE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 5px;
    width: calc(50% - 10px);
    flex-direction: column;
    gap: 15px;
}

.uploadItems{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.labelContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.error input, .error .mdc-text-field{
    border: 1px solid red;
}

.error-message{
    color: red;
}

.uploadItems {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
    transition: background-color 0.3s;
}

.uploadItems.dragging {
    background-color: #f0f8ff;
}

.uploadItems i {
    font-size: 48px;
    margin-bottom: 10px;
}

.uploadItems h6, .uploadItems p {
    margin: 0;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #0056b3;
}

.imagePreview{
    width: 110px;
    img{
        width: 100%;
    }
}