* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: var(--font-family-primary);
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.02em;
}

label {
  font-family: var(--font-family-primary);
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: -0.001em;
}
input[type="text"] {
  border: 1px solid #dedede;
  width: 100%;
  height: 38px;
  border-radius: var(--border-radius-md);
  font-family: var(--font-family-primary);
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: -0.001em;
}
