<div class="inner-page">
  <!-- Preview Mode Indicator -->

  
  <div class="all-other">
    <div class="row">
      <div class="block logoBlock">
        <h5>Logo</h5>
        <p>Please upload your logo.</p>

        <div class="row" style="margin-top: 20px">
          <a
            class="btnTertiary"
            (click)="openImageUploadModal()"
            style="font-weight: 500; text-transform: capitalize"
          >
            Upload Logo
          </a>
          
          <!-- Logo Display with Media Library Integration -->
          <div *ngIf="imageUrl" class="imagePreview">
            <i
              class="material-icons closeBtn"
              (click)="removeLogoWithMediaLibrary()"
              title="Remove logo"
              >close</i
            >
            <img [src]="imageUrl" alt="Uploaded logo" />
            
            <!-- Media Library Info 
            <div class="media-info" *ngIf="brandingData?.logoMediaItem">
              <small class="media-source">From Media Library</small>
              <div class="media-tags" *ngIf="brandingData.logoMediaItem.tags?.length">
                <span class="tag" *ngFor="let tag of brandingData.logoMediaItem.tags">{{ tag }}</span>
              </div>
            </div>-->
          </div>
        </div>

        <!-- Logo Requirements -->
        <div class="logo-requirements">
          <p><strong>Logo Requirements:</strong></p>
          <ul>
            <li>Dimensions: Exactly 150x50 pixels</li>
            <li>Format: PNG or JPG</li>
            <li>Max size: 500KB</li>
            <li>Transparent background recommended</li>
          </ul>
        </div>
      </div>

      <div class="block">
        <div class="row">
          <h5 class="heading">Brand Colours</h5>
          <i
            class="material-icons"
            (mouseenter)="tooltipOpen['brandColors'] = true"
            (mouseleave)="tooltipOpen['brandColors'] = false"
            >information
            <app-tooltip
              [text]="'These are your brand colors used throughout the interface.'"
              *ngIf="tooltipOpen['brandColors']"
              [isVisible]="tooltipOpen['brandColors']"
            ></app-tooltip
          ></i>
        </div>
        
        <div class="row inputRow">
          <p>Background Colour</p>
          <div class="colorPicker">
            <input
              [(colorPicker)]="backgroundColor"
              [style.background]="backgroundColor"
              class="colourPicker"
              (ngModelChange)="applyChanges('Background Color', $event)"
              (colorPickerChange)="applyChanges('Background Color', $event)"
              (cpColorChange)="applyChanges('Background Color', $event)"
            />
          </div>
          <span class="hex-code">{{backgroundColor}}</span>
       
        </div>
        
        <div class="row inputRow">
          <p>Primary Colour</p>
          <div class="colorPicker">
            <input
              [(colorPicker)]="primaryColor"
              [style.background]="primaryColor"
              class="colourPicker"
              (ngModelChange)="applyChanges('Primary Color', $event)"
              (colorPickerChange)="applyChanges('Primary Color', $event)"
              (cpColorChange)="applyChanges('Primary Color', $event)"
            />
          </div>
          <span class="hex-code">{{primaryColor}}</span>
     
        </div>
        
        <div class="row inputRow">
          <p>Secondary Colour</p>
          <div class="colorPicker">
            <input
              [(colorPicker)]="secondaryColor"
              [style.background]="secondaryColor"
              class="colourPicker"
              (ngModelChange)="applyChanges('Secondary Color', $event)"
              (colorPickerChange)="applyChanges('Secondary Color', $event)"
              (cpColorChange)="applyChanges('Secondary Color', $event)"
            />
          </div>
          <span class="hex-code">{{secondaryColor}}</span>
       
        </div>
        
        <div class="row inputRow">
          <p>Accent Colour</p>
          <div class="colorPicker">
            <input
              [(colorPicker)]="accentColor"
              [style.background]="accentColor"
              class="colourPicker"
              (ngModelChange)="applyChanges('Accent Color', $event)"
              (colorPickerChange)="applyChanges('Accent Color', $event)"
              (cpColorChange)="applyChanges('Accent Color', $event)"
            />
          </div>
          <span class="hex-code">{{accentColor}}</span>
         
        </div>
      </div>
    </div>

    <div class="outerRow">
      <div class="outerCol">
        <div class="row">
          <div class="block">
            <div class="row">
              <h5 class="heading">Text Styles</h5>
            </div>
            <div class="conTextHold">
              <div class="colText" style="flex: 1">
                <div class="row">
                  <h6>Main Headings</h6>
                </div>
                <div class="row">
                  <label class="label">Typeface</label>
                  <div class="selectField">
                    <mat-select
                      [(value)]="mainHeadingTypeface"
                      (selectionChange)="
                        applyChanges('Main Heading Typeface', $event.value)
                      "
                    >
                      <mat-option
                        *ngFor="let typeface of typefaces"
                        [value]="typeface"
                      >
                        {{ typeface }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="row">
                  <label class="label">Letter Case</label>
                  <div class="selectField">
                    <mat-select
                      [(value)]="mainHeadingCase"
                      (selectionChange)="
                        applyChanges('Main Heading Case', $event.value)
                      "
                    >
                      <mat-option
                        *ngFor="let caseOption of letterCases"
                        [value]="caseOption.value"
                      >
                        {{ caseOption.display }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="rowCol">
                  <label class="label">Colour</label>
                  <input
                    [(colorPicker)]="mainHeadingColor"
                    [style.background]="mainHeadingColor"
                    class="colourPicker"
                    [cpPosition]="'right'"
                    (ngModelChange)="applyChanges('Main Heading Color', $event)"
                    (colorPickerChange)="applyChanges('Main Heading Color', $event)"
                    (cpColorChange)="applyChanges('Main Heading Color', $event)"
                  />
                  <span class="hex-code">{{mainHeadingColor}}</span>
                </div>
                <div class="row">
                  <h6>Sub-Headings Style</h6>
                </div>
                <div class="row">
                  <label class="label">Typeface</label>
                  <div class="selectField">
                    <mat-select
                      [(value)]="subHeadingTypeface"
                      (selectionChange)="
                        applyChanges('Sub Heading Typeface', $event.value)
                      "
                    >
                      <mat-option
                        *ngFor="let typeface of typefaces"
                        [value]="typeface"
                      >
                        {{ typeface }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="row">
                  <label class="label">Letter Case</label>
                  <div class="selectField">
                    <mat-select
                      [(value)]="subHeadingCase"
                      (selectionChange)="
                        applyChanges('Sub Heading Case', $event.value)
                      "
                    >
                      <mat-option
                        *ngFor="let caseOption of letterCases"
                        [value]="caseOption.value"
                      >
                        {{ caseOption.display }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="rowCol">
                  <label class="label">Colour</label>
                  <input
                    [(colorPicker)]="subHeadingColor"
                    [style.background]="subHeadingColor"
                    class="colourPicker"
                    [cpPosition]="'right'"
                    (ngModelChange)="applyChanges('Sub Heading Color', $event)"
                    (colorPickerChange)="applyChanges('Sub Heading Color', $event)"
                    (cpColorChange)="applyChanges('Sub Heading Color', $event)"
                  />
                  <span class="hex-code">{{subHeadingColor}}</span>
                </div>
                <div class="row">
                  <h6>Body</h6>
                </div>
                <div class="row">
                  <label class="label">Typeface</label>
                  <div class="selectField">
                    <mat-select
                      [(value)]="bodyTypeface"
                      (selectionChange)="
                        applyChanges('Body Typeface', $event.value)
                      "
                    >
                      <mat-option
                        *ngFor="let typeface of typefaces"
                        [value]="typeface"
                      >
                        {{ typeface }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="row">
                  <label class="label">Letter Case</label>
                  <div class="selectField">
                    <mat-select
                      [(value)]="bodyCase"
                      (selectionChange)="
                        applyChanges('Body Case', $event.value)
                      "
                    >
                      <mat-option
                        *ngFor="let caseOption of letterCases"
                        [value]="caseOption.value"
                      >
                        {{ caseOption.display }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="rowCol">
                  <label class="label">Colour</label>
                  <input
                    [(colorPicker)]="bodyColor"
                    [style.background]="bodyColor"
                    class="colourPicker"
                    [cpPosition]="'right'"
                    (ngModelChange)="applyChanges('Body Color', $event)"
                    (colorPickerChange)="applyChanges('Body Color', $event)"
                    (cpColorChange)="applyChanges('Body Color', $event)"
                  />
                  <span class="hex-code">{{bodyColor}}</span>
                </div>
              </div>
              <div class="colText previewTexrt">
                <h1
                  [ngStyle]="{
                    color: mainHeadingColor,
                    'font-family': mainHeadingTypeface,
                    'font-size': mainHeadingSize,
                    'text-transform': mainHeadingCase
                  }"
                >
                  Main Heading
                </h1>
                <h2
                  [ngStyle]="{
                    color: subHeadingColor,
                    'font-family': subHeadingTypeface,
                    'font-size': subHeadingSize,
                    'text-transform': subHeadingCase
                  }"
                >
                  Sub Heading
                </h2>
                <p
                  [ngStyle]="{
                    color: bodyColor,
                    'font-family': bodyTypeface,
                    'font-size': bodySize,
                    'text-transform': bodyCase
                  }"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="outerLive">
      <div class="blockPreview">
        <div class="row">
          <h5 class="heading">Real-time Preview</h5>
        </div>
        <div class="row">
          <div class="select-container">
            <mat-form-field appearance="outline">
              <mat-label>Select Menu to Preview</mat-label>
              <mat-select [(value)]="selectedMenuId" (selectionChange)="logSelection($event)">
                <mat-option *ngIf="menus.length === 0" [disabled]="true">No active menus available</mat-option>
                <mat-option *ngFor="let menu of menus" [value]="menu.menuID">
                  {{ menu.menuName }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="menus.length === 0">Please create and activate a menu first</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="preview">
          <div class="phonePreviewContainer">
            <iframe
              #previewIframe
              [src]="getPreviewUrl()"
              frameborder="0"
              class="previewIframe"
              [style.backgroundColor]="backgroundColor || '#ffffff'"
              [attr.data-menu-id]="selectedMenuId"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="btnBlock">
      <p *ngIf="isPreviewMode && hasUnsavedChanges">You have unsaved changes in preview mode</p>
      <div class="row">
        <a 
          class="btnTertiary" 
          (click)="discardChanges()" 
          style="width: 130px"
          [title]="isPreviewMode ? 'Revert to original settings' : 'Discard current changes'"
        >
          {{ isPreviewMode ? 'Revert' : 'Discard' }}
        </a>
        <a 
          class="btnSecondary" 
          (click)="updateBrandingDetails()"
          [class.disabled]="isSaving"
          [title]="isPreviewMode ? 'Save preview as default' : 'Save changes'"
        >
          {{ isSaving ? 'Saving...' : (isPreviewMode ? 'Save Preview' : 'Save Changes') }}
        </a>
      </div>
    </div>
  </div>
</div>

<app-loading [isLoading]="isSaving"></app-loading>
