.formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;

    label {
        color: #9A9A9A;
        margin-bottom: 12px;

    }
}
.settingspage{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-height: 110vh;
    column-count: 3; 
    column-gap: 10px; 
    .block{
        display: inline-block; /* Change from block to inline-block */
    width: 32%; /* Ensure each block takes full width of its column */
    margin-bottom: 8px;
    }
}


.settingspage h6{
    margin-bottom: 25px;
}

.error-message{
    display: none;
}

.input-holder{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    .editBtn{
        position: absolute;
        right: 14px;
        font-family: 'Barlow', sans-serif;
        font-size: 10px;
        font-weight:500;
        line-height: 1;
        letter-spacing: -0.1%;
        cursor: pointer;
        text-decoration: underline;
        color: #9A9A9A;
    }
}

.toggleHolder .toggle-container:last-of-type{
    border-bottom: none;
}

.toggleHolder p{
        font-size: 10px;
        padding-left: 12px;
        
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.rowToggle{
    display: flex;

    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 18px;
    margin-top: 18px;
    label{
        color: #1FCC96;
    }
}

.brandingRow{
    margin-bottom: 10px;
}

.brandingRow:last-of-type{
    margin-bottom: 0px;
}
.brandingRow > div{
    width: 100%;
}

.btnHolder{
    justify-content: center !important;
}

.btnHolderRight{
    justify-content: right !important;
}

.material-icons{
    cursor: pointer;
    width: 30px;
    margin-bottom: 10px;
    color: #9A9A9A;
}

.btnBlock{
    p{
        font-size: 10px;
        text-align: center;
        color: #9A9A9A;
        margin-bottom: 19px;
    }

    .row{
        justify-content: center;
        gap: 15px;
    }

    
}

.material-icons{
    margin-bottom: 0;
}

.popup-menu{
    position: absolute;
    right: 0;
    transition: 0.3s all;
    background-color: #F8F9FB;
    border: 1px solid #DEDEDE;
    display: flex;
    flex-direction: column;
    gap:13px;
    padding: 13px;
    border-radius: 10px;
    width: 90px;
    a{
        font-family: 'Barlow', sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: -2%;
        color:#181818;
        width: 100%;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s all;
    }
    a:hover{
        font-weight: 600;
    }
    .closeBtn{
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.posBlock{
    p{
        margin-bottom: 23px;
    }
}

.longBlock{
    width: calc((100% / 3) * 2 - 20px) !important;
    column-span: 2; 
}

.smallCol{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    a{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        i{
            font-size: 17px;
        }
    }
}

.inputRow{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F4F5;
    border-radius: 5px;
}

.block{
    flex: 1;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.mat-mdc-form-field-subscript-wrapper{
    display: none;
}

.selectField{
    border: 1px solid #DEDEDE;
    padding: 0 10px;
    background-color: white;
    border-radius: 2px;
    height: 52px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.headingTable{
    color: #9A9A9A;
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.headingTable:first-of-type{
    text-align: left;
}

.block{
    gap: 0;
}

.heading{
    margin-bottom: 20px;
}

.inner-page{
display: flex;
gap: 20px;
flex-direction: column;
}

.headingHold{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    p{
        color: #444444;
    }
}

.outerLive{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerCol{
    width: calc(65% - 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.outerRow{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    align-items: stretch;
}

.preview{
    background-image: url('../../../../assets/images/branding/phone.png');
    background-position: center;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 90%;
    margin: auto;
    gap: 20px;

    p{
        text-align: center;
        width: 50%;
    }

    a{
        padding: 12px 38px;
        border-radius: 6px;
        min-width: 120px;
    }
}

.logoBlock{
    align-items: flex-start;
    gap: 15px;
}
.imagePreview{
    position: relative;
}

.imagePreview .closeBtn{
    position: absolute;
    top: -29px;
    right: -10px;
    cursor: pointer;
}

.imagePreview img{
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}


.imagePreviewSmall{
    width: 100%;
    display: flex;
    justify-content: center;

    img{
        width: 50%;
    }
}