<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h2>Thank you for your payment</h2>
      <div class="formGroup">
        <p class="text-center">Please verify your email address to complete your account setup. </p>
      </div>
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="verifyAndCreate()">
          <i class="fas fa-redo-alt"></i>
          resend email
        </button>
      </div>
    </div>
    <div class="redirectToLogin">
      <p>Didn't receive the email? Check your details to verify your email address.</p>
    </div>
  </div>
</div>