<div class='logo-top'>
    <img src="../../../assets/images/shared/logo.png" alt="" />
</div>
<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h2>Verifying your account</h2>
            <div class="formGroup">
                <p class="text-center" *ngIf="isSaving">Please wait while we set up your account...</p>
                <p class="text-center" *ngIf="!isSaving">Your account has been created! Please check your email for verification.</p>
            </div>
        </div>
    </div>
</div>

<app-loading [isLoading]="isSaving"></app-loading>