<!-- KB - Add back button at the top if showBackButton is true -->
<div *ngIf="showBackButton" class="back-button-container">
  <a class="backLink" (click)="onBackButtonClick($event)" style="cursor: pointer;">
    <i class="material-icons">arrow_back</i> {{ backText }}
  </a>
</div>

<!-- Info icon with tooltip -->
<div *ngIf="tooltipInfo" class="info-icon-container">
  <i class="material-icons" [matTooltip]="tooltipInfo">info_outline</i>
</div>

<div class="row">
  <div class="inner">
    <div
      class="step-indicator"
      tabindex="0"
      [class.completed]="progress > 1"
      [class.active]="progress === 1"
      [class.clickable]="isStepClickable(1)"
      (click)="onStepClick(1)"
      (keydown.enter)="onStepClick(1)"
      (keydown.space)="onStepClick(1)"
      role="progressbar"
      aria-valuenow="1"
      aria-valuemin="1"
      aria-valuemax="4"
      aria-label="Step 1 of 4"
      [attr.aria-disabled]="!isStepClickable(1)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="11"
        viewBox="0 0 14 11"
        fill="none"
      >
        <path
          d="M4.95801 11L0.208008 6.24996L1.39551 5.06246L4.95801 8.62496L12.6038 0.979126L13.7913 2.16663L4.95801 11Z"
          fill="white"
        />
      </svg>
    </div>
    <div
      class="step-indicator"
      tabindex="0"
      [class.completed]="progress > 2"
      [class.active]="progress === 2"
      [class.clickable]="isStepClickable(2)"
      (click)="onStepClick(2)"
      (keydown.enter)="onStepClick(2)"
      (keydown.space)="onStepClick(2)"
      role="progressbar"
      aria-valuenow="2"
      aria-valuemin="1"
      aria-valuemax="4"
      aria-label="Step 2 of 4"
      [attr.aria-disabled]="!isStepClickable(2)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="11"
        viewBox="0 0 14 11"
        fill="none"
      >
        <path
          d="M4.95801 11L0.208008 6.24996L1.39551 5.06246L4.95801 8.62496L12.6038 0.979126L13.7913 2.16663L4.95801 11Z"
          fill="white"
        />
      </svg>
    </div>
    <div
      class="step-indicator"
      tabindex="0"
      [class.completed]="progress > 3"
      [class.active]="progress === 3"
      [class.clickable]="isStepClickable(3)"
      (click)="onStepClick(3)"
      (keydown.enter)="onStepClick(3)"
      (keydown.space)="onStepClick(3)"
      role="progressbar"
      aria-valuenow="3"
      aria-valuemin="1"
      aria-valuemax="4"
      aria-label="Step 3 of 4"
      [attr.aria-disabled]="!isStepClickable(3)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="11"
        viewBox="0 0 14 11"
        fill="none"
      >
        <path
          d="M4.95801 11L0.208008 6.24996L1.39551 5.06246L4.95801 8.62496L12.6038 0.979126L13.7913 2.16663L4.95801 11Z"
          fill="white"
        />
      </svg>
    </div>
    <div
      class="step-indicator"
      tabindex="0"
      [class.completed]="progress > 4"
      [class.active]="progress === 4"
      [class.clickable]="isStepClickable(4)"
      (click)="onStepClick(4)"
      (keydown.enter)="onStepClick(4)"
      (keydown.space)="onStepClick(4)"
      role="progressbar"
      aria-valuenow="4"
      aria-valuemin="1"
      aria-valuemax="4"
      aria-label="Step 4 of 4"
      [attr.aria-disabled]="!isStepClickable(4)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="11"
        viewBox="0 0 14 11"
        fill="none"
      >
        <path
          d="M4.95801 11L0.208008 6.24996L1.39551 5.06246L4.95801 8.62496L12.6038 0.979126L13.7913 2.16663L4.95801 11Z"
          fill="white"
        />
      </svg>
    </div>
    <div class="line"></div>
  </div>
</div>
