<div class="popup" *ngIf="showPopup">
  <div class="popup-content user-detail-modal">
    <div class="modal-header">
      <h3>User Details</h3>
      <i class="material-icons popup-close" (click)="closePopup()">close</i>
    </div>
    
    <div class="user-profile-section">
      <div class="user-avatar">
        <i class="material-icons">account_circle</i>
      </div>
      <div class="user-basic-info">
        <h4>{{ user.firstName }} {{ user.Surname }}</h4>
        <span class="user-role-badge">Editor</span>
        <span class="status-indicator" [class.active]="true">
          <i class="material-icons">check_circle</i>
          Active
        </span>
      </div>
    </div>

    <div class="user-details-grid">
      <div class="detail-item">
        <label>First Name</label>
        <span>{{ user.firstName }}</span>
      </div>
      
      <div class="detail-item">
        <label>Last Name</label>
        <span>{{ user.Surname }}</span>
      </div>
      
      <div class="detail-item">
        <label>Email Address</label>
        <span>{{ user.email }}</span>
      </div>
      
      <div class="detail-item">
        <label>Phone Number</label>
        <span>{{ user.cellphoneNumber || 'Not provided' }}</span>
      </div>
      
      <div class="detail-item">
        <label>Role</label>
        <span>Editor</span>
      </div>
      
      <div class="detail-item">
        <label>Access Level</label>
        <span>Full Access</span>
      </div>
    </div>

    <div class="modal-actions">
      <button class="btn btnTertiary" (click)="closePopup()" [disabled]="isSaving">
        Close
      </button>
      <button class="btn btnSecondary" (click)="switchToEditMode()" [disabled]="isSaving">
        <i class="material-icons">edit</i>
        Edit User
      </button>
    </div>
  </div>

  <!-- Edit Mode -->
  <div class="popup-content edit-mode" *ngIf="isEditMode">
    <div class="modal-header">
      <h3>Edit User</h3>
      <i class="material-icons popup-close" (click)="closePopup()">close</i>
    </div>
    
    <div class="authBlock">
      <form #editForm="ngForm" (ngSubmit)="updateUser(user)">
        <div class="row">
          <div class="formGroup">
            <label>Name</label>
            <input
              type="text"
              class="formControl"
              name="name"
              [(ngModel)]="user.firstName"
              required
            />
          </div>
          <div class="formGroup">
            <label>Email address</label>
            <input
              type="email"
              class="formControl"
              name="email"
              [(ngModel)]="user.email"
              required
              disabled
            />
          </div>
        </div>
        <div class="row">
          <div class="formGroup">
            <label>Surname</label>
            <input
              type="text"
              class="formControl"
              name="lastname"
              [(ngModel)]="user.Surname"
              required
            />
          </div>
          <div class="formGroup">
            <label>Phone number</label>
            <input
              type="text"
              class="formControl"
              name="phone"
              [(ngModel)]="user.cellphoneNumber"
              required
            />
          </div>
        </div>
        <div class="formGroup btnHolder">
          <input
            class="btn btnTertiary"
            type="button"
            value="Cancel"
            (click)="switchToViewMode()"
            [disabled]="isSaving"
          />
          <input
            type="submit"
            class="btn btnPrimary"
            [disabled]="!editForm.valid || isSaving"
            value="Save Changes"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<app-loading [isLoading]="isSaving"></app-loading>
