.tooltip-popup {
    position: absolute;
    background-color: #F8F9FB;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: var(--border-radius-md);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-3);
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: -80px;
    margin-top: 0px;
    max-width: 300px;
    align-items: center;
  }

  .tooltip-popup p{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-wrap: wrap;
  }
  .left{
   margin-left: -180px;
  }