<div class="block stat">
    <div class="row">
        <h6 class="heading">{{heading}}</h6>
        <i class="material-icons" (mouseenter)="isTooltipOpen = true" (mouseleave)="isTooltipOpen = false">information
            <app-tooltip [text]="'Lorem ipsum about this block'" *ngIf="isTooltipOpen"
                [isVisible]="isTooltipOpen"></app-tooltip></i>

    </div>
    <label class="time">{{timeText}}</label>
    <div class="row list" *ngFor="let object of data">
        <p>{{object.name}}</p>
        <p><b>{{object.description}}</b></p>
    </div>

</div>