<nav class="navbar">
    <div class="inner">
        <img src="../../../assets/images/shared/logo.png" alt="" style="width: 150px;" />
        <div class="breadcrumb-container">
            <!-- Debug info -->
        
            
            <ng-container *ngIf="breadcrumbs.length > 0; else singleTitle">
                <!-- Parent route (clickable) -->
                <h1 class="title parent-title" 
                    (click)="navigateToBreadcrumb(breadcrumbs[0].url)">
                    {{ breadcrumbs[0].label }}
                </h1>
                <span class="breadcrumb-separator">/</span>
                <!-- Current page (not clickable) -->
                <h1 class="title current-title">{{ getCurrentPageTitle() }}</h1>
            </ng-container>
            <ng-template #singleTitle>
                <h1 class="title">{{ getCurrentPageTitle() }}</h1>
            </ng-template>
        </div>
    </div>
    <div class="inner">

        <div class="search-bar">
            <input type="text" placeholder="Type your question or term here..." id="searchInput"
                *ngIf="isSearchBarExpanded">
            <div class="icon yellowIcon" (click)="toggleSearchBar()"><i class="material-icons">search</i></div>
        </div>

        <div class="icon yellowIcon"><i class="material-icons" (click)="toggleNotifications()">notifications</i></div>
        <div class="icon" (click)="toggleProfile()"><i class="material-icons">person</i></div>
    </div>
</nav>
<nav class="profiledd" *ngIf="isProfileExpanded">
    <h6>{{userProfile.firstName}} {{userProfile.Surname }} {{ !userProfile.ParentID ? ' - Admin' : '' }}</h6>
    <a routerLink="/settings/general">Edit profile</a>
    <a routerLink="/manage-users">Add a user</a>
    <a (click)="authService.SignOut()">Log out</a>
</nav>
<nav class="profiledd" *ngIf="isNotificationsExpanded">
    <h6>Notifications </h6>
    <div *ngIf="notifications && notifications.length > 0; else noNotifications">
        @for (item of notifications; track $index) {
        <div class="row">
            <div class="leftSide">
                @if (!item.read) {
                <div class="redDot"></div>
                }
                <p> {{ item.text }}</p>
            </div>

            <p class="smalltext">{{calcTimeago(item.timestamp)}}</p>
        </div>
        }
    </div>
    <ng-template #noNotifications>
        <p>No notifications</p>
    </ng-template>
</nav>