.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.material-icons{
    cursor: pointer;
    width: 30px;
    margin-bottom: 10px;
    color: #444444;
    margin-bottom: 0;
}


.restaurantholder{
    display: flex;
    width: 100%;
    padding: var(--spacing-3) 14px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #DEDEDE;

    p{
        width: 70%;
    }
    span{
        width: 20%;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 500;
        line-height: 1;
        color: #1FCC96;
        text-align: left;
    }
}



.popup-menu{
    position: absolute;
    right: 0;
    transition: 0.3s all;
    background-color: #F8F9FB;
    border: 1px solid #DEDEDE;
    display: flex;
    flex-direction: column;
    gap:13px;
    padding: 13px;
    border-radius: var(--border-radius-lg);
    width: 90px;
    a{
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 10px;
        color:#181818;
        width: 100%;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s all;
    }
    a:hover{
        font-weight: 600;
    }
    .closeBtn{
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.inner-page{
    gap: 15px;
    display: flex;
    flex-direction: column;

}

table{
    width: 100%;
    border-spacing: 0;
    thead{
        
    }
    th{
        text-align: left;
        font-family: 'Poppins';
        color:#9A9A9A;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid #444444;
        padding: 15px 15px var(--spacing-5) 15px;
    }
    td{
        text-align: left;
        font-family: 'Poppins';
        color:#181818;
        font-size: 15px;
        font-weight: 500;
        padding:15px;
        border-bottom: 1px solid #DEDEDE;
    }
}