<div class="container">
    <div class="block">
      <h6 class="mainTitle">Edit Special</h6>
      <form [formGroup]="specialForm">
        <div class="row">
          <div class="col">
            <div class="formGroup">
              <h6>Select Menu</h6>
                <mat-select formControlName="menu" (selectionChange)="onMenuChange()" [disabled]="true">
                    <mat-option *ngFor="let menu of menus" [value]="menu.menuID">
                    {{ menu.menuName }}
                    </mat-option>
                </mat-select>
            </div>
  
            <div class="formGroup">
              <h6>Special Title</h6>
              <input type="text" class="formControl" placeholder="Special Title" formControlName="specialTitle" required>
            </div>
            
            <div class="formGroup dateRow">
              <h6>Select Dates</h6>
              <div class="row">
                <input type="date" class="formControl" placeholder="dd/mm/yyyy" formControlName="dateFrom" required>
                <h6>to</h6>
                <input type="date" class="formControl" placeholder="dd/mm/yyyy" formControlName="dateTo" required>
              </div>
              <div *ngIf="specialForm.errors?.['dateRangeInvalid']" class="error-message">
                Start date must be before end date.
              </div>
            </div>
            
            <div class="formGroup">
              <h6>Type of special</h6>
                <mat-select formControlName="typeSpecial">
                  <mat-option *ngFor="let special of specialTypes" [value]="special.id">
                    {{ special.name }}
                  </mat-option>
                </mat-select>
            </div>
  
            <div class="formGroup">
              <h6>Days of the week</h6>
              <div class="weekday-selector">
                <span *ngFor="let day of weekdays" class="weekday" [class.selected]="isSelected(day)" (click)="toggleSelection(day)">
                  {{ day }}
                </span>
              </div>
            </div>
  
            <div class="formGroup">
              <h6>Special Details</h6>
              <p>Short description of how the selected special works and instructions on how to proceed.</p>
              <div class="row">
                <mat-select formControlName="typeSpecialDetails">
                  <mat-option *ngFor="let special of selectedMenu?.items" [value]="special.name">
                    {{ special.name }}
                  </mat-option>
                </mat-select>
                <input type="text" formControlName="amount">
              </div>
              <div class="row" style="justify-content: flex-end; margin-top: 10px;">
                <button type="button" class="btnSecondary" (click)="addItem()">+ Add item</button>
              </div>
            
              <div class="item-list" *ngIf="addedItems.length > 0">
                <h6>Items added:</h6>
                  <p *ngFor="let item of addedItems; let i = index" class="listMenuItems">
                      {{ item.name }} - {{ item.amount }}
                      <a class="btnRemove" (click)="removeItem(i)">Remove</a>
                  </p>
              </div>
            </div>
          </div>
  
          <div class="col">
            <h6>Add media</h6>
            <div class="mediaBlock">
              <div class="colmediaBlock">
                <p>Short description of why media is needed and where these will be displayed.</p>
                <a href="" target="_blank"><mat-icon>download</mat-icon>Download Media Guidelines and Templates</a>
              </div>
              <div class="colmediaBlock">
                <a class="btnSecondary" (click)="openImageUploadModal()"><mat-icon>upload</mat-icon> Add Image</a>
                <img [src]="uploadedImageUrl" alt=""/>
            </div>
            </div>
  
            <div class="formGroup">
              <h6>Feature special under</h6>
                <mat-select formControlName="featureSpecialUnder">
                  <mat-option *ngFor="let category of selectedMenu?.categories" [value]="category.id">
                    {{ category.name }}
                  </mat-option>
                </mat-select>
            </div>
  
            <div class="formGroup">
                <h6>Select Times</h6>
                <p>Special is applicable between the hours of</p>
                <div class="row timeRow">
                  <input type="time" class="formControl" placeholder="hh:mm" formControlName="timeFrom" required>
                  <h6>to</h6>
                  <input type="time" class="formControl" placeholder="hh:mm" formControlName="timeTo" required>
                </div>
                <div *ngIf="specialForm.errors?.['timeRangeInvalid']" class="error-message">
                  Start time must be before end time.
                </div>
              </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row" style="justify-content: flex-end;">
      <button type="button" class="btnTertiary" routerLink="/specials">Cancel</button>
      <button (click)="submitForm()" class="btnSecondary">Save Changes</button>
    </div>
    <app-loading [isLoading]="isSaving"></app-loading>
    
    <div class="popup" *ngIf="showSuccessPopup">
      <div class="popup-content">
        <i class="material-icons popup-close" routerLink="/specials">close</i>
        <div class="row">
          <div class="col">
            <h1>Your changes have been saved</h1>
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal" [class.open]="showImageUploadModal">
      <div class="modal-content">
        <span class="close" (click)="closeImageUploadModal()">&times;</span>
        <h6>Upload Image</h6>
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
        <div class="row">
          <a class="btnSecondary" [class.disabled]="!uploadDone" (click)="uploadDone && closeImageUploadModal()"> Done</a>
          <a class="btnTertiary" (click)="cancelUpload()">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  