<div class="container">
  <!-- Step 1: Special Basics -->
  <div *ngIf="currentStep === 1">
    <div class="block rowSpecial">
      <div class="row navRow">
        <a class="mainLink" routerLink="/specials">
          <i class="material-symbols-outlined">arrow_back_ios</i>Back
        </a>
        <app-progress-bar [progress]="currentStep"></app-progress-bar>
      </div>
      <h6 class="mainTitle"><span style="color: #3CE1AF;">Step 1:</span> Special Basics</h6>
      <form [formGroup]="specialForm">
        <div class="formGroup">
          <p>Special Title</p>
          <input type="text" class="formControl" formControlName="specialTitle" placeholder="Enter special title"
            required>
        </div>
        <div class="formGroup">
          <p>Select Menu</p>
          <mat-select formControlName="menu" (selectionChange)="onMenuChange()">
            <mat-option *ngFor="let menu of menus" [value]="menu.menuID">
              {{ menu.menuName }}
            </mat-option>
          </mat-select>
        </div>
        <div class="formGroup">
          <p>Type of Special</p>
          <mat-select formControlName="typeSpecial" (selectionChange)="onSpecialTypeChange()">
            <mat-option *ngFor="let type of specialTypes" [value]="type.id">
              {{ type.name }}
            </mat-option>
          </mat-select>
        </div>
        <div class="formGroup dateRow">
          <p>Select Dates</p>
          <div class="row">
            <div class="col">
              <p>Start Date</p>
              <input type="date" class="formControl" formControlName="dateFrom" placeholder="Start date" required>
            </div>
            <div class="col">
              <p>End Date</p>
              <input type="date" class="formControl" formControlName="dateTo" placeholder="End date" required>
            </div>
          </div>
          <div *ngIf="specialForm.errors?.['dateRangeInvalid']" class="error-message">
            Start date must be before end date.
          </div>
        </div>
      </form>
    </div>
    <div class="navRow">
      <button (click)="nextStep()" class="btnSecondary">Next</button>
    </div>
  </div>

  <!-- Step 2: Days and Times -->
  <div *ngIf="currentStep === 2">
    <div class="block rowSpecial">
      <div class="row navRow">
        <a class="mainLink" routerLink="/specials">
          <i class="material-symbols-outlined">arrow_back_ios</i>Back
        </a>
        <app-progress-bar [progress]="currentStep"></app-progress-bar>
      </div>
      <h6 class="mainTitle"><span style="color: #3CE1AF;">Step 2:</span> Days and Times</h6>
      <form [formGroup]="specialForm">
        <div class="formGroup">
          <p>What day(s) of the week should this special be valid?</p>
          <div class="weekday-selector">
            <span *ngFor="let day of weekdays" class="weekday" [class.selected]="isSelected(day)"
              (click)="toggleSelection(day)">
              {{ day }}
            </span>
          </div>
        </div>
        <div class="formGroup">
          <p>What times should this special be valid?</p>
          <div class="dateRow">
            <div class="row">
              <div class="col">
                <p>Start time</p>
                <input type="time" class="formControl" formControlName="timeFrom" placeholder="Start time" required>
              </div>
              <div class="col">
                <p>End time</p>
                <input type="time" class="formControl" formControlName="timeTo" placeholder="End time" required>
              </div>
            </div>
          </div>
          <div *ngIf="specialForm.errors?.['timeRangeInvalid']" class="error-message">
            Start time must be before end time.
          </div>
        </div>
      </form>
    </div>
    <div class="navRow">
      <button (click)="previousStep()" class="btnTertiary">Back</button>
      <button (click)="nextStep()" class="btnSecondary">Next</button>
    </div>
  </div>

  <!-- Step 3: Special Details -->
  <div *ngIf="currentStep === 3">
    <div class="block rowSpecial">
      <div class="row navRow">
        <a class="mainLink" routerLink="/specials">
          <i class="material-symbols-outlined">arrow_back_ios</i>Back
        </a>
        <app-progress-bar [progress]="currentStep"></app-progress-bar>
      </div>
      <h6 class="mainTitle"><span style="color: #3CE1AF;">Step 3:</span> Special Details</h6>
      <form [formGroup]="specialForm">
        <!-- Weekly Special -->
        <div *ngIf="selectedSpecialType === 1">
          <p>Select Items and Prices</p>
          <div class="row">
            <mat-select formControlName="typeSpecialDetails">
              <mat-option *ngFor="let item of selectedMenu?.items" [value]="item.name">
                {{ item.name }}
              </mat-option>
            </mat-select>
            <input type="text" formControlName="amount" placeholder="Promotional price" (keydown.enter)="addItem()">
          </div>
        </div>

        <!-- Category Special -->
        <div *ngIf="selectedSpecialType === 2">
          <p>Select Category</p>
          <div class="row">
            <mat-select formControlName="featureSpecialUnder">
              <mat-option *ngFor="let category of selectedMenu?.categories" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
            <input type="number" formControlName="percentage" placeholder="Enter percentage discount"
              (keydown.enter)="addItem()">
          </div>
        </div>

        <!-- Combo Special -->
        <div *ngIf="selectedSpecialType === 3">
          <h6>Combo Details</h6>
          <div class="row">
            <mat-select formControlName="typeSpecialDetails" multiple>
              <mat-option *ngFor="let item of selectedMenu?.items" [value]="item.name">
                {{ item.name }}
              </mat-option>
            </mat-select>
            <input type="text" formControlName="comboPrice" placeholder="Enter combo price" (keydown.enter)="addItem()">
          </div>
        </div>

        <p style="text-align: right;width: 100%;">Press enter to add an item</p>
        <!-- Display List of Added Items -->
        <div *ngIf="addedItems.length > 0" class="item-list">
          <h6>Items</h6>
          <div class="list" *ngFor="let item of addedItems; let i = index">
            <div>
              <a class="btnRemove" (click)="removeItem(i)">X</a>
              <p>{{ item.name }}</p>
            </div>
            <p>{{ item.amount }}</p>
          </div>
        </div>
      </form>
    </div>
    <div class="navRow">
      <button (click)="previousStep()" class="btnTertiary">Back</button>
      <button (click)="nextStep()" class="btnSecondary">Next</button>
    </div>
  </div>

  <!-- Step 4: Add Media -->
  <div *ngIf="currentStep === 4">
    <div class="block rowSpecial">
      <div class="row navRow">
        <a class="mainLink" routerLink="/specials">
          <i class="material-symbols-outlined">arrow_back_ios</i>Back
        </a>
        <app-progress-bar [progress]="currentStep"></app-progress-bar>
      </div>
      <h6 class="mainTitle">Step 4: Add Media</h6>
      <p style="margin-bottom: 30px;">Uploading media helps to raise awareness of the special.</p>
      <a class="btnSecondary" (click)="openImageUploadModal()"><mat-icon>upload</mat-icon> Add Image</a>
      <img style="margin-top:30px;max-width: 80%;" [src]="uploadedImageUrl" alt="">
    </div>
    <div class="navRow">
      <button (click)="previousStep()" class="btnTertiary">Back</button>
      <button (click)="nextStep()" class="btnSecondary">Next</button>
    </div>
  </div>

  <!-- Step 5: Overview -->
  <div *ngIf="currentStep === 5">
    <div class="block rowSpecial">
      <h6 class="mainTitle">Step 5: Overview</h6>
      <p>Review all the information you have entered before submission.</p>
      <div class="summary-container">
        <h3 class="summary-title">{{ specialForm.value.specialTitle || 'Special Name' }}</h3>

        <div class="summary-card">
          <!-- Special Type -->
          <p class="summary-info">{{ getSpecialTypeLabel(selectedSpecialType) }}</p>

          <!-- Date Range -->
          <p class="summary-info">
            Valid from {{ specialForm.value.dateFrom | date: 'd MMMM' }} - {{ specialForm.value.dateTo | date: 'd MMMM'
            }}
          </p>

          <!-- Days -->
          <p class="summary-info">
            Every {{ selectedDays.join(', ') || 'No days selected' }}
          </p>

          <!-- Time Range -->
          <p class="summary-info">
            From {{ specialForm.value.timeFrom || '00:00' }} to {{ specialForm.value.timeTo || '00:00' }}
          </p>
        </div>

        <!-- Promotional Items Section -->
        <div class="promo-section">
          <p>Promotional Items</p>
          <div *ngFor="let item of addedItems" class="promo-item">
            <span class="item-name">{{ item.name }}</span>
            <span class="item-price">Promotional Price: R {{ item.amount }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="navRow">
      <button (click)="previousStep()" class="btnTertiary">Back</button>
      <button (click)="updateSpecial()" class="btnSecondary">Save & Update</button>
    </div>
  </div>
</div>

<div class="modal" [class.open]="showImageUploadModal">
  <div class="modal-content">
    <span class="close" (click)="closeImageUploadModal()">&times;</span>
    <h6>Upload Image</h6>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <p>Acceptable file formats: PNG, JPG<br />File sizes: Files that are less than 5 MB.</p>
    <div class="row">
      <a class="btnSecondary" [class.disabled]="!uploadDone" (click)="uploadDone && closeImageUploadModal()"> Done</a>
    </div>
  </div>
</div>

<div class="popup" *ngIf="showSuccessPopup">
  <div class="popup-content">
    <i class="material-icons popup-close" routerLink="/specials">close</i>
    <div class="row">
      <div class="col">
        <h1>Your changes have been saved</h1>
      </div>
    </div>
  </div>
</div>