<div class="popup" *ngIf="showPopup">
    <div class="popup-content">
      <i class="material-icons popup-close" (click)="closePopup()">close</i>
      <div class="authBlock">
        <h3>Reset password</h3>
        <p class="text-center">Please enter your new password.</p>
        <app-form-input
          label="New Password"
          type="password"
          placeholder="Enter new password"
          [required]="true"
          [errorMessage]="passwordError"
          [(ngModel)]="newPassword"
          (valueChange)="onPasswordChange($event)"
          #passwordResetEmail>
        </app-form-input>
        <div class="formGroup btnHolder">
          <button type="submit" class="hungr-btn hungr-btn-primary"
            (click)="resetPassword()">Reset</button>
        </div>
      </div>
    </div>
  </div>