<div class="popup" *ngIf="showPopup">
    <div class="popup-content">
      <i class="material-icons popup-close" (click)="closePopup()">close</i>
      <div class="authBlock">
        <h3>Generate QR Code</h3>
        <p *ngIf="selectedMenu">For: {{selectedMenu.menuName}}</p>
      </div>
      <div class="row" *ngIf="selectedMenu">
        <div class="col">
          <div class="colInner">
            <qrcode [qrdata]="getQRCodeData(selectedMenu.menuID)" (qrCodeURL)="onChangeURL($event)" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
            <p class="error-message" *ngIf="validationError">Please wait for QR code to generate</p>
            <p class="success-message" *ngIf="saveSuccess">QR code assigned to {{selectedMenu?.menuName}}</p>
            <div class="formGroup btnHolder">
              <button class="hungr-btn hungr-btn-tertiary" (click)="closePopup()">Cancel</button>
              <button class="hungr-btn hungr-btn-primary" 
                      (click)="saveSettings()" 
                      [disabled]="!qrCodeDownloadLink || isSaving">
                Save & Assign
              </button>
            </div>
            <div class="formGroup btnHolder" *ngIf="qrCodeDownloadLink">
              <a class="hungr-btn hungr-btn-secondary" [href]="qrCodeDownloadLink" download="qrcode">Download QR Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loading [isLoading]="isSaving"></app-loading>