.popup{
    .row{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;

        .col{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            
        }

        .colInner{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
        }
    }
   
    h3{
        margin-bottom: 23px;
        color: #2E3646;
        text-align: left;
    }
    label{
        color: #444444;
        text-align: left;
        margin-bottom: var(--spacing-3);
    }
    
    p{
        color: #181818;
        text-align: left;
        margin-bottom: 27px;
    }

    .btnHolder{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: var(--spacing-5);

        // Custom button styling removed to allow global styles to apply
    }
}

.error-message{
    color: #FF0000 !important;
}