<div class="popup" *ngIf="showPopup">
    <div class="popup-content">
      <i class="material-icons popup-close" (click)="closePopup()">close</i>
      <div class="authBlock">
        <h3>QR Code</h3>
      </div>
      <div class="row">
        <div class="col">
          <div class="colInner" *ngIf="selectedMenu">
            <qrcode [qrdata]="getQRCodeData(selectedMenu.menuID)" (qrCodeURL)="onChangeURL($event)" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
              <div class="formGroup btnHolder">
                <button class="hungr-btn hungr-btn-tertiary" (click)="closePopup()">Cancel</button>
                <button class="hungr-btn hungr-btn-primary" (click)="saveSettings()">Save</button>
              </div>
          </div>
        </div>
        <div class="col">
          <div>
            <p>Assign this code to...</p>
            <p *ngIf="filteredMenus.length < 1">There are no unassigned menus</p>
            <app-form-select
              *ngIf="filteredMenus.length > 0"
              label="Select Menu"
              placeholder="Select a menu..."
              [options]="menuOptions"
              [(ngModel)]="selectedMenu"
              (selectionChange)="selectMenu($event.value)">
            </app-form-select>
            <p class="error-message" *ngIf="validationError">Please select a menu to assign</p>
            <p class="success-message" *ngIf="saveSuccess">QR code assigned to {{selectedMenu?.menuName}}</p>
          </div>
          <div class="formGroup btnHolder">
            <a class="hungr-btn hungr-btn-secondary" [href]="qrCodeDownloadLink" download="qrcode">SAVE & Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loading [isLoading]="isSaving"></app-loading>