<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h2>Payment has been cancelled</h2>
        <div class="formGroup" >
          <p class="text-center">Your payment has been cancelled. If this was unintentional, please try again or contact support for assistance.</p>
        </div>
  
        <div class="formGroup">
          <button type="button" class="hungr-btn hungr-btn-primary" routerLink="/sign-in">
            Log In
          </button>
        </div>
      </div>
    </div>
  </div>