<div class="inner-page">
  <form #userForm="ngForm" (ngSubmit)="editRestaurant()">
    <div class="col">
      <div class="block">
        <a class="backLink" (click)="navigateWithUnsavedChangesCheck('/restaurants')"
          ><i class="material-icons">chevron_left</i> Back</a
        >
        <h6>Edit Restaurant Details</h6>
        <div class="row">
          <div class="col">
            <div class="formGroup">
              <label>Restaurant Name</label>
              <input
                type="text"
                class="formControl"
                placeholder="Name your restaurant..."
                name="name"
                [(ngModel)]="restaurant.name"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="formGroup">
              <label>Street Address</label>
              <input
                type="text"
                class="formControl"
                placeholder="1882 Bodenstein St"
                name="street"
                [(ngModel)]="restaurant.street"
                required
              />
            </div>
            <div class="formGroup">
              <label>Province</label>
              <mat-form-field appearance="fill" style="width: 100%">
                <mat-select
                  [(ngModel)]="restaurant.province"
                  name="province"
                  required
                >
                  <mat-option
                    *ngFor="let province of saProvinces"
                    [value]="province"
                  >
                    {{ province }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="formGroup">
              <label>City</label>
              <input
                type="text"
                class="formControl"
                placeholder="Boksburg"
                name="city"
                [(ngModel)]="restaurant.city"
                required
              />
            </div>
            <div class="formGroup">
              <label>Zip Code</label>
              <input
                type="text"
                class="formControl"
                placeholder="1213"
                name="zip"
                [(ngModel)]="restaurant.zip"
                required
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="block" style="gap: 0">
        <h6 style="margin-bottom: 10px">Assign menu</h6>
        <label style="color: #9a9a9a; margin-bottom: 8px"
          >Please assign a menu to this restaurant.</label
        >
        <div class="rowMenu">
          <mat-form-field appearance="fill" style="width: 32%">
            <mat-select
              [(ngModel)]="selectedMenu"
              (selectionChange)="selectMenu($event.value)"
              name="selectedMenu"
            >
              <mat-option *ngFor="let menu of menus" [value]="menu.menuID">
                {{ menu.menuName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p>
            Need to create a new menu for this restaurant?
            <a
                              routerLink="/menus/add-menu/1"
              class="mainLink"
              style="width: 100%; text-align: right"
              >Click here</a
            >
          </p>
        </div>
      </div>

      <div class="block contactBlock" style="margin-bottom: 0">
        <h6 style="margin-bottom: 10px">Users</h6>
        <p style="color: #9a9a9a">Please assign a user to this restaurant</p>
        <div class="rowMenu">
          <mat-form-field appearance="fill">
            <mat-select
              [(ngModel)]="selectedUser"
              (selectionChange)="selectUser($event.value)"
              name="selectedUser"
            >
              <mat-option *ngFor="let user of users" [value]="user"
                >{{ user.firstName }} {{ user.Surname }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <p>
            Need to add a new user?
            <a
              routerLink="/manage-users"
              class="mainLink"
              style="width: 100%; text-align: right"
              >Click here</a
            >
          </p>
        </div>

        <p *ngIf="selectedUser !== null" class="selectedOption">
          {{ selectedUserName }} {{ selectedUserSurname }}
          <span (click)="removeUser()" class="material-symbols-outlined">
            close
          </span>
        </p>
      </div>

      <div class="blockItemsRow">
        <div class="block">
          <h6>Restaurant Status</h6>
          <div class="toggle-container">
            <label [style.color]="restaurantStatus ? '#444444' : '#444444'">{{
              restaurantStatus ? "Active" : "Inactive"
            }}</label>
            <mat-slide-toggle
              [(ngModel)]="restaurantStatus"
              color="#16D3D2"
              name="restaurantStatus"
            ></mat-slide-toggle>
          </div>
        </div>
        <div class="block contactBlock">
          <h6>Number of tables in the restaurant</h6>
          <div class="row" style="align-items: center">
            <p style="width: 60%">Please enter a numerical value</p>
            <input
              style="width: 40%"
              type="text"
              class="formControl"
              name="selectedNumberTable"
              [(ngModel)]="selectedNumberTable"
              required
            />
          </div>
        </div>
      </div>

      <div class="formGroup btnHolder">
        <a (click)="navigateWithUnsavedChangesCheck('/restaurants')" class="btn btnTertiary">Cancel</a>
        <button type="button" (click)="saveDraft()" class="btn btnSecondary">
          Save as draft
        </button>
        <button type="submit" class="btn btnSecondary">Save</button>
      </div>
    </div>
  </form>
</div>
<p class="success-message" *ngIf="isSaving">Saved</p>
