.inner-page{
    

    form{
        width: 100%;
        flex-direction: column;
        gap: 15px;
        display: flex;
    }
}

.col{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .block{
        gap: 25px;
        display: flex;
        flex-direction: column;
    }
}

.selectedOption{
    width: 100%;
    padding: 12px;
    background-color: #F3F4F5;
    margin-bottom: 20px;
}

.contactBlock mat-form-field{
    width: 100%;

}

.backLink{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: #2E3646;
}

.row{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: flex-start;

    .formGroup{
        width: 100%;
    }
}

.tableNum{
    color: #181818;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 56px;
    background-color: #F3F4F5;
}

.toggle-container{
    border: 1px solid #DEDEDE;
}

.btnHolder{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

.success-message{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
label{
    color: #9A9A9A;
    margin-bottom: 8px;
}

.rowMenu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: row;
    width: 100%;

    p{
        color:   #9A9A9A;
        font-size: 14px;
    }
}

.blockItems{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
    width: 100%;

}

.blockItemsRow{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
    width: 100%;

    .block{
        width: calc(50% - 20px);
    }
}