@use '@angular/material' as mat;
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hungr-backend-primary: mat.define-palette(mat.$indigo-palette);
$hungr-backend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hungr-backend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hungr-backend-theme: mat.define-light-theme((
  color: (
    primary: $hungr-backend-primary,
    accent: $hungr-backend-accent,
    warn: $hungr-backend-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($hungr-backend-theme);
@import url("https://fonts.googleapis.com/css?family=Material+Icons+Round");
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.3s all;
    
    --mdc-switch-selected-focus-state-layer-color: #fff;
    --mdc-switch-selected-handle-color: #fff;
    --mdc-switch-selected-hover-state-layer-color: #fff;
    --mdc-switch-selected-pressed-state-layer-color: #fff;
    --mdc-switch-selected-focus-handle-color: #fff;
    --mdc-switch-selected-hover-handle-color: #fff;
    --mdc-switch-selected-pressed-handle-color: #fff;
    --mdc-switch-selected-focus-track-color: #3CE1AF;
    --mdc-switch-selected-hover-track-color: #3CE1AF;
    --mdc-switch-selected-pressed-track-color: #3CE1AF;
    --mdc-switch-selected-track-color: #3CE1AF;
    --mdc-switch-disabled-selected-handle-color: #424242;
    --mdc-switch-disabled-selected-icon-color: #fff;
    --mdc-switch-disabled-selected-track-color: #424242;
    --mdc-switch-disabled-unselected-handle-color: #424242;
    --mdc-switch-disabled-unselected-icon-color: #fff;
    --mdc-switch-disabled-unselected-track-color: #424242;
    --mdc-switch-handle-surface-color: var(--mdc-theme-surface, #fff);
    --mdc-switch-handle-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --mdc-switch-handle-shadow-color: black;
    --mdc-switch-disabled-handle-elevation-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    --mdc-switch-selected-icon-color: #fff;
    --mdc-switch-unselected-focus-handle-color: #212121;
    --mdc-switch-unselected-focus-state-layer-color: #424242;
    --mdc-switch-unselected-focus-track-color: #e0e0e0;
    --mdc-switch-unselected-handle-color: #616161;
    --mdc-switch-unselected-hover-handle-color: #212121;
    --mdc-switch-unselected-hover-state-layer-color: #424242;
    --mdc-switch-unselected-hover-track-color: #e0e0e0;
    --mdc-switch-unselected-icon-color: #fff;
    --mdc-switch-unselected-pressed-handle-color: #212121;
    --mdc-switch-unselected-pressed-state-layer-color: #424242;
    --mdc-switch-unselected-pressed-track-color: #e0e0e0;
    --mdc-switch-unselected-track-color: #e0e0e0;
    --mdc-switch-disabled-label-text-color: rgba(0, 0, 0, 0.38);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' 24
}
.mat-mdc-optgroup-label{
  font-size: 12px;
  font-weight: bold;
  min-height: 25px !important;
}
.extra-large-text{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.001em;
}
.colorPicker .mat-mdc-form-field{
  height: 40px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.001em;
}
h4{
    
}

h6{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.001em;

}

.font-small-medium{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: -0.001em;
}

.font-small{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.001em;
}

.mat-mdc-text-field-wrapper{
  border: 1px solid black;
  border-radius: 5px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.02em;
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.001em;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number]{
    border: 1px solid #DEDEDE;
    width: 100%;
    height: 38px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.001em;
    padding: 12px;
    color: #444444;
}

a{

}

.btnPrimary{
    background: #FFF352;
    border-radius: 6px;
    text-align: center;
    padding:  12px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 14px;
    letter-spacing: -0.001em;
    min-width: 140px;
    border: none;
    text-transform: uppercase;
    color: #181818;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s all;
}
.btnPrimary:disabled {
  background-color: #cccccc; 
  color: #666666; 
  cursor: not-allowed;
  opacity: 0.6;
}
.btnPrimary:hover{
  background: #fff463;
}
.btnSecondary{
  color: #181818;
  background: #3ce1af;
  border-radius: 6px;
  text-align: center;
  padding:  12px 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: -0.001em;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  min-width: 140px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  transition: 0.3s all;
}

.btnSecondary:hover{
  background: #3fefba;
}

.btnSecondary:disabled {
  pointer-events: none;
  color: grey;
  cursor: not-allowed !important;
}

.btnTertiary{
  color: #181818;
  background: #E4E4E4;
  border-radius: 6px;
  text-align: center;
  padding:  12px 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: -0.001em;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 140px;
  text-decoration: none;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s all;
}

.btnTertiary:hover{
  background: #ededed;
}
.btnBlue{
  color: #181818;
  background: #AFDCFF;
  border-radius: 6px;
  text-align: center;
  padding:  12px 15px;
  min-width: 140px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: -0.001em;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all;
}

.btnBlue:hover{
  background: #bbe2ff;
}

.mainLink{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -0.001em;
    text-align: right;
    color:#9A9A9A;
    width: 100%;
    cursor: pointer;
    transition: 0.3s all;
}

.mainLink:hover{
    color:#444444;
    text-decoration: underline;
}


.mainLinkLarge{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.1%;
  color:#444;
  cursor: pointer;
  text-decoration: underline;
}

.popup {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .popup-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #DEDEDE;
    width: 80%; 
    max-width: 600px;
    border-radius: 10px;
    padding: 25px;
    position: relative;
  }

  .popup-close{
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
    transform: rotate(0deg);
  }

  .popup-close:hover{
    transform: rotate(180deg);
  }

  .error-message{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -0.001em;
    text-align: left;

  }

  .success-message{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -0.001em;
    text-align: left;
    color: green;
  }

  .toast-container{
    font-family: 'Poppins', sans-serif;
  }

  .label-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .small-icon{
    font-size: 16px;
  }

  .icon-holder-label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  a{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight:500;
    line-height: 1;
    letter-spacing: -0.1%;
    cursor: pointer;
  }

  .link{
    text-decoration: underline;
    color: #9A9A9A;
    cursor: pointer;
  }


  
  .linkIcon{
    text-decoration: none;
    color: #9A9A9A;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    i{
      font-size: 12px;
    }
  }
  .inner-page{
    padding: 25px;
  }

  .block{
    border: 1px solid #EBEDEE;
    background-color: white;
    padding: 25px;
    box-shadow: 0 1px 8px rgba(68, 68, 68, 0.08);
    border-radius: 10px;
  }
.toggle-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px;
  border-radius: 5px;

  label{
    color: #444444;
  }
}
.mat-slide-toggle-thumb {
  background-color: #fff;
}

/* Change the track color */
.mat-slide-toggle-bar {
  background-color: #3CE1AF;
}

mat-select{
  padding: 0px 12px 0 6px;
  line-height: 38px;
  border-radius: 5px;
  --mdc-outlined-text-field-outline-color: transparent;


}

.mat-mdc-select-value-text{
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 400;
  line-height: 20.25px;
  letter-spacing: -0.001em;
}
.mat-mdc-select-panel {
  margin-left: -6px;
  margin-top: 6px;
}
::ng-deep .mat-select-panel {
  background-color: transparent !important;
}

/* Style the background color of the selected option */
::ng-deep .mat-selected-option {
  background-color: transparent !important;
}

/* Style the background color of the options in the dropdown */
::ng-deep .mat-option {
  background-color: white; /* Set to white to match default background */
}

/* Style the hover color of the options in the dropdown */
::ng-deep .mat-option:hover:not(.mat-option-disabled) {
  background-color: #e0e0e0; /* Change to the desired hover color */
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: black;
  --mdc-radio-disabled-unselected-icon-color: black;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: black;
  --mdc-radio-selected-hover-icon-color: #000;
  --mdc-radio-selected-icon-color: #000;
  --mdc-radio-selected-pressed-icon-color: #000;
  --mat-radio-ripple-color: black;
  --mat-radio-checked-ripple-color: #000;
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}

.mat-mdc-radio-touch-target{
  display: none !important;
}

mat-label{
  font-size: 14px !important;
}

.colorPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #DEDEDE;
  padding: 0 10px 10px 10px;
    border-radius: 2px;
    background-color: white;

  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent !important;
  }

  .mat-mdc-form-field{
    width: 100px;
  }
  .mat-mdc-form-field-focus-overlay{
    opacity: 0 !important;
  }

  .mdc-text-field--no-label:not(.mdc-text-field--textarea){
    font-size: 14px;
  }
}

mat-chip {
  margin: 0 5px;
  cursor: pointer;
}

input[type="submit"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #f2f2f2;
}

.mdc-checkbox .mdc-checkbox__native-control[disabled]:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[disabled]:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true][disabled]~.mdc-checkbox__background{
  background-color: #1FCC96 !important;
}

.mat-mdc-input-element{
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
}


.heading{
font-size: 15px;
font-weight: 600;
line-height: 20.25px;
letter-spacing: -0.001em;

}