<div class="inner-page">
    <form #userForm="ngForm" (ngSubmit)="addRestaurant()">
        <div class="row" style="align-items: unset; justify-content: unset;">
            <div class="block" style="height: 100%;">
                <a class="backLink" routerLink="/restaurants"><i class="material-icons">chevron_left</i> Back</a>
                <h6>Add Restaurant Details</h6>
                <div class="block-row">
                    <div class="col">
                        <div class="formGroup">
                            <label>Restaurant Name</label>
                            <input type="text" class="formControl" placeholder="Name your restaurant..." name="name"
                                [(ngModel)]="restaurant.name" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="formGroup">
                            <label>Street Address</label>
                            <input type="text" class="formControl" placeholder="1882 Bodenstein St" name="street"
                                [(ngModel)]="restaurant.street" required>
                        </div>
                        <div class="formGroup">
                            <label>Province</label>
                            <input type="text" class="formControl" placeholder="Gauteng" name="province"
                                [(ngModel)]="restaurant.province" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="formGroup">
                            <label>City</label>
                            <input type="text" class="formControl" placeholder="Boksburg" name="city"
                                [(ngModel)]="restaurant.city" required>
                        </div>
                        <div class="formGroup">
                            <label>Zip Code</label>
                            <input type="text" class="formControl" placeholder="1213" name="zip"
                                [(ngModel)]="restaurant.zip" required>
                        </div>
                    </div>

                </div>
            </div>

            <div class="block">
                <h6>Assign menu</h6>
                <p style="color: #9A9A9A">Please assign a menu to this restaurant.</p>
                <div class="block-row" style="justify-content: flex-start; align-items: center;">
                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="selectedMenu" (selectionChange)="selectMenu($event.value)"
                            name="selectedMenu">
                            <mat-option *ngFor="let menu of menus" [value]="menu">
                                {{ menu.menuName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p class="font-small">Need to create a new menu for this restaurant? <a routerLink="/menus/add-menu"
                            class="mainLink" style="width: 100%;text-align: right;">Add menu</a></p>
                </div>


            </div>

            <div class="block contactBlock">
                <h6>Main Contact Person</h6>
                <mat-radio-group name="selectedContact" [(ngModel)]="selectedContact" class="radiogroup">
                    <div class="col">
                        <mat-radio-button [value]="'selected'">Selected Contact Person</mat-radio-button>
                        <p class="selectedOption">{{ currentUser.firstName }} {{ currentUser.Surname }}</p>
                    </div>
                    <div class="col">
                        <mat-radio-button [value]="'assign'">Assign User</mat-radio-button>
                        <mat-form-field *ngIf="selectedContact === 'assign'" style="margin-top: 10px;">
                            <mat-select name="selectedUser" [(ngModel)]="selectedUser">
                                <mat-option *ngFor="let user of users" [value]="user">{{ user.firstName }} {{
                                    user.Surname
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                </mat-radio-group>
            </div>

            <div class="rowBottom">
                <div class="block" style="width: 50%;">
                    <h6>Restaurant Status</h6>
                    <div class="toggle-container">
                        <label [style.color]="restaurantStatus ? '#3CE1AF' : '#444444'">{{ restaurantStatus ? 'Active' :
                            'Inactive' }}</label>
                        <mat-slide-toggle [(ngModel)]="restaurantStatus" color="#3CE1AF"
                            name="restaurantStatus"></mat-slide-toggle>
                    </div>
                </div>

                <div class="block contactBlock" style="width: 50%;">
                    <h6>Number of tables in the restaurant</h6>
                    <div class="row" style="flex-direction: row;">
                        <p class="tableNum">{{selectedNumberTable}}</p>
                        <mat-form-field>
                            <mat-label>Select number of tables</mat-label>
                            <mat-select name="selectedNumberTable" [(ngModel)]="selectedNumberTable">
                                <mat-option *ngFor="let num of tableNums" [value]="num">{{ num }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </div>
        <div class="formGroup btnHolder">
            <a routerLink="/settings/general" class="btn btnTertiary">Cancel</a>
            <button type="submit" class="btn btnSecondary">Save</button>
        </div>

    </form>
</div>