.inner-page{
    

    form{
        width: 100%;
        flex-direction: column;
        gap: 15px;
        display: flex;
    }
}

.col{
    width: calc(33% - 15px);
    display: flex;
    flex-direction: column;
    gap: 15px;

    .block{
        gap: 25px;
        display: flex;
        flex-direction: column;
    }
}
.radiogroup{
    flex-direction: row;
    gap: 20px;
    display: flex;
    width: 100%;
}

::ng-deep mat-mdc-text-field-wrapper{
    height: 50px !important;
}
.selectedOption{
    width: 100%;
    padding: 20px 12px;
    background-color: #F3F4F5;
    margin-bottom: 20px;
    margin-top: 10px;
}

.contactBlock mat-form-field{
    width: 100%;

}

.backLink{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: #2E3646;
    font-size: 16px;
    font-weight: 600;
}
.block{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.block-row{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    align-items: flex-start;
}

label{
    color: #9A9A9A;
}

.font-small{
    color: #9A9A9A;
}

.row{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: flex-start;

    .formGroup{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.tableNum{
    color: #181818;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 56px;
    background-color: #F3F4F5;
}

.toggle-container{
    border: 1px solid #DEDEDE;
}

.btnHolder{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

.rowBottom{
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}