<div class="inner-page">
  <form #userForm="ngForm" (ngSubmit)="addRestaurant()">
    <div class="row" style="align-items: unset; justify-content: unset">
      <app-content-block title="Add Restaurant Details" customClass="" [ngStyle]="{'height': '100%'}">
        <a class="backLink" (click)="navigateWithUnsavedChangesCheck('/restaurants')"
          ><i class="material-icons">chevron_left</i> Back</a
        >
        <div class="block-row">
          <div class="col">
            <div class="formGroup">
              <app-form-input
                type="text"
                label="Restaurant Name"
                placeholder="Name your restaurant..."
                name="name"
                [(ngModel)]="restaurant.name"
                [required]="true">
              </app-form-input>
            </div>
          </div>
          <div class="col">
            <div class="formGroup">
              <app-form-input
                type="text"
                label="Street Address"
                placeholder="1882 Bodenstein St"
                name="street"
                [(ngModel)]="restaurant.street"
                [required]="true">
              </app-form-input>
            </div>
            <div class="formGroup">
              <label>Province</label>
              <mat-form-field appearance="fill" style="width: 100%">
                <mat-select
                  [(ngModel)]="restaurant.province"
                  name="province"
                  required
                >
                  <mat-option
                    *ngFor="let province of saProvinces"
                    [value]="province"
                  >
                    {{ province }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="formGroup">
              <app-form-input
                type="text"
                label="City"
                placeholder="Boksburg"
                name="city"
                [(ngModel)]="restaurant.city"
                [required]="true">
              </app-form-input>
            </div>
            <div class="formGroup">
              <app-form-input
                type="text"
                label="Zip Code"
                placeholder="1213"
                name="zip"
                [(ngModel)]="restaurant.zip"
                [required]="true">
              </app-form-input>
            </div>
          </div>
        </div>
      </app-content-block>

      <app-content-block title="Assign menu" [ngStyle]="{'gap': '0'}">
        <p style="color: var(--color-text-muted); margin-bottom: 8px">
          Please assign a menu to this restaurant.
        </p>
        <div
          class="block-row"
          style="justify-content: flex-start; align-items: flex-start"
        >
          <mat-form-field appearance="fill" style="width: 32%">
            <mat-select
              [(ngModel)]="selectedMenu"
              (selectionChange)="selectMenu($event.value)"
              name="selectedMenu"
            >
              <mat-option *ngFor="let menu of menus" [value]="menu">
                {{ menu.menuName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p class="font-small">
            Need to create a new menu for this restaurant?
            <a
              (click)="onAddMenuClick($event)"
              class="mainLink"
              style="width: 100%; text-align: right"
              >Add menu</a
            >
          </p>
        </div>
      </app-content-block>

      <app-content-block title="Users" customClass="contactBlock" [ngStyle]="{'gap': '0'}">
        <p style="color: var(--color-text-muted); margin-bottom: 8px">
          Please assign a user to this restaurant
        </p>
        <div class="rowMenu">
          <mat-form-field appearance="fill">
            <mat-select
              [(ngModel)]="selectedUser"
              (selectionChange)="selectUser($event.value)"
              name="selectedUser"
            >
              <mat-option *ngFor="let user of users" [value]="user"
                >{{ user.firstName }} {{ user.Surname }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <p>
            Need to add a new user?
            <a
              (click)="onAddUserClick($event)"
              class="mainLink"
              style="width: 100%; text-align: right"
              >Click here</a
            >
          </p>
        </div>

        <p *ngIf="selectedUser !== null" class="selectedOption">
          {{ selectedUserName }} {{ selectedUserSurname }}
          <span (click)="removeUser()" class="material-symbols-outlined">
            close
          </span>
        </p>
      </app-content-block>

      <div class="rowBottom">
        <app-content-block title="Restaurant Status" [ngStyle]="{'width': '50%'}">
          <div class="toggle-container">
            <label [style.color]="restaurantStatus ? '#16D3D2' : '#444444'">{{
              restaurantStatus ? "Active" : "Inactive"
            }}</label>
            <mat-slide-toggle
              [(ngModel)]="restaurantStatus"
              color="#16D3D2"
              name="restaurantStatus"
            ></mat-slide-toggle>
          </div>
        </app-content-block>

        <app-content-block title="Number of tables in the restaurant" customClass="contactBlock">
          <div class="row" style="align-items: center">
            <p style="width: 60%">Please enter a numerical value</p>
            <div style="width: 40%">
              <app-form-input
                type="number"
                placeholder="10"
                name="selectedNumberTable"
                [(ngModel)]="selectedNumberTable"
                [required]="true">
              </app-form-input>
            </div>
          </div>
        </app-content-block>
      </div>
    </div>
    <div class="formGroup btnHolder">
      <button (click)="navigateWithUnsavedChangesCheck('/restaurants')" class="hungr-btn hungr-btn-tertiary">Cancel</button>
      <button type="button" (click)="saveDraft()" class="hungr-btn hungr-btn-secondary">
        Save as draft
      </button>
      <button type="submit" class="hungr-btn hungr-btn-secondary">Save</button>
    </div>
  </form>
</div>
