<div class="inner-page">
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="col">
      <app-content-block [title]="mode === 'add' ? 'Add Restaurant Details' : 'Edit Restaurant Details'" 
      (backButtonClick)="navigateWithUnsavedChangesCheck('/restaurants')"
      [showBackButton]="true"
      [backButtonText]="'Back'">
       
        <div class="row">
          <div class="col">
            <div class="formGroup">
              <app-form-input
                class="full-width"
                fullWidth="true"
                label="Restaurant Name"
                type="text"
                placeholder="Name your restaurant..."
                [required]="true"
                [errorMessage]="getFieldError('name')"
                name="name"
                [(ngModel)]="restaurant.name"
                (ngModelChange)="onRestaurantNameChange($event)"
                #nameField="ngModel">
              </app-form-input>
            </div>
          </div>
          <div class="col">
            <div class="formGroup">
              <app-form-input
                class="full-width"
                label="Street Address"
                type="text"
                placeholder="1882 Bodenstein St"
                [required]="true"
                [errorMessage]="getFieldError('street')"
                name="street"
                [(ngModel)]="restaurant.street"
                #streetField="ngModel">
              </app-form-input>
            </div>
            <div class="formGroup">
              <app-form-select
                label="Province"
                class="full-width"
                placeholder="Select Province"
                [required]="true"
                [errorMessage]="getFieldError('province')"
                [options]="provinceOptions"
                [(ngModel)]="restaurant.province"
                name="province"
                #provinceField="ngModel">
              </app-form-select>
            </div>
          </div>
          <div class="col">
            <div class="formGroup">
              <app-form-input
                label="City"
                type="text"
                class="full-width"
                placeholder="Boksburg"
                [required]="true"
                [errorMessage]="getFieldError('city')"
                name="city"
                [(ngModel)]="restaurant.city"
                #cityField="ngModel">
              </app-form-input>
            </div>
            <div class="formGroup">
              <app-form-input
                label="Zip Code"
                type="text"
                class="full-width"
                placeholder="1213"
                [required]="true"
                [errorMessage]="getFieldError('zip')"
                name="zip"
                [(ngModel)]="restaurant.zip"
                #zipField="ngModel">
              </app-form-input>
            </div>
          </div>
        </div>
      </app-content-block>
    </div>
    
    <div class="col">
      <app-content-block title="Assign menu" [ngStyle]="{'gap': '0'}">
      
        <div class="rowMenu space-between">
          <div class="menu-select-container">
            <app-form-select
              label="Please assign a menu to this restaurant."
              placeholder="Choose a menu"
              [options]="menuOptions"
              class="full-width"
              [(ngModel)]="selectedMenu"
              (selectionChange)="selectMenu($event.value)"
              name="selectedMenu">
            </app-form-select>
          </div>
          <p class="displaced">
            Need to create a new menu for this restaurant?
            <a
              (click)="onAddMenuClick($event)"
              class="mainLink"
              style="width: 100%; text-align: right"
              >Click here</a
            >
          </p>
        </div>
      </app-content-block>


      <div class="blockItemsRow" *ngIf="mode === 'edit'">
        <app-content-block title="Restaurant Status" [ngStyle]="{'height': '140px', 'display': 'flex', 'flex-direction': 'column', 'justify-content': 'space-between'}">
          <div class="toggle-container">
            <label [style.color]="restaurantStatus ? '#16D3D2' : '#444444'">{{
              restaurantStatus ? "Active" : "Inactive"
            }}</label>
            <mat-slide-toggle
              [(ngModel)]="restaurantStatus"
              color="#16D3D2"
              name="restaurantStatus"
              (change)="onRestaurantStatusChange($event)"
            ></mat-slide-toggle>
          </div>
        </app-content-block>
        <app-content-block title="Number of tables in the restaurant" >
          <div class="row" style="align-items: center">
              <app-form-input
                label="Please enter a numerical value"
                type="number"
                placeholder="Number of tables"
                [required]="true"
                [errorMessage]="getFieldError('selectedNumberTable')"
                [min]="1"
                [max]="100"
                [step]="1"
                [labelLeft]="true"
              

                class="full-width"
                name="selectedNumberTable"
                [(ngModel)]="selectedNumberTable"
                (input)="onNumberTableInput($event)"
                customClass="tables-input">
              </app-form-input>
          </div>
        </app-content-block>
      </div>

    

      <div class="blockItemsRow" *ngIf="mode === 'add'">
        <app-content-block title="Restaurant Status" [ngStyle]="{'height': '140px', 'display': 'flex', 'flex-direction': 'column', 'justify-content': 'space-between'}">
          <div class="toggle-container">
            <label [style.color]="restaurantStatus ? '#16D3D2' : '#444444'">{{
              restaurantStatus ? "Active" : "Inactive"
            }}</label>
            <mat-slide-toggle
              [(ngModel)]="restaurantStatus"
              color="#16D3D2"
              name="restaurantStatus"
              (change)="onRestaurantStatusChange($event)"
            ></mat-slide-toggle>
          </div>
        </app-content-block>
        <app-content-block title="Number of tables in the restaurant" class="flex1" [ngStyle]="{'flex': '1', 'height': '140px', 'display': 'flex', 'flex-direction': 'column', 'justify-content': 'space-between'}">
          <div class="row" style="align-items: center">
              <app-form-input
                label="Please enter a numerical value"
                type="number"
                class="full-width"
                fullWidth="true"
                placeholder="Number of tables"
                [required]="true"
                [errorMessage]="getFieldError('selectedNumberTable')"
                [min]="1"
                [max]="100"
                [step]="1"
                [labelLeft]="true"
                name="selectedNumberTable"
                [(ngModel)]="selectedNumberTable"
                (input)="onNumberTableInput($event)"
                customClass="tables-input">
              </app-form-input>
          </div>
        </app-content-block>
      </div>

      <div class="formGroup btnHolder" style="margin-top: 30px;">
        <button (click)="navigateWithUnsavedChangesCheck('/restaurants')" 
           class="hungr-btn hungr-btn-secondary">Cancel</button>
        <button type="button" (click)="saveDraft()" class="hungr-btn hungr-btn-secondary" *ngIf="mode === 'edit'">
          SAVE AS DRAFT
        </button>
        <button type="submit" class="hungr-btn hungr-btn-primary" [disabled]="!isFormValid()">
          {{ mode === 'add' ? 'Save Restaurant' : 'Update Restaurant' }}
        </button>
      </div>
    </div>
  </form>
</div>

<p class="success-message" *ngIf="isSaving">Saved</p>
