<div class="inner-page">
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="col">
      <app-content-block [title]="mode === 'add' ? 'Add Restaurant Details' : 'Edit Restaurant Details'">
        <a class="backLink" (click)="navigateWithUnsavedChangesCheck('/restaurants')"
          ><i class="material-icons">chevron_left</i> Back</a
        >
        <div class="row">
          <div class="col">
            <div class="formGroup">
              <app-form-input
                label="Restaurant Name"
                type="text"
                placeholder="Name your restaurant..."
                [required]="true"
                [errorMessage]="getFieldError('name')"
                name="name"
                [(ngModel)]="restaurant.name"
                (ngModelChange)="onRestaurantNameChange($event)"
                #nameField="ngModel">
              </app-form-input>
            </div>
          </div>
          <div class="col">
            <div class="formGroup">
              <app-form-input
                label="Street Address"
                type="text"
                placeholder="1882 Bodenstein St"
                [required]="true"
                [errorMessage]="getFieldError('street')"
                name="street"
                [(ngModel)]="restaurant.street"
                #streetField="ngModel">
              </app-form-input>
            </div>
            <div class="formGroup">
              <app-form-select
                label="Province"
                placeholder="Select Province"
                [required]="true"
                [errorMessage]="getFieldError('province')"
                [options]="provinceOptions"
                [(ngModel)]="restaurant.province"
                name="province"
                #provinceField="ngModel">
              </app-form-select>
            </div>
          </div>
          <div class="col">
            <div class="formGroup">
              <app-form-input
                label="City"
                type="text"
                placeholder="Boksburg"
                [required]="true"
                [errorMessage]="getFieldError('city')"
                name="city"
                [(ngModel)]="restaurant.city"
                #cityField="ngModel">
              </app-form-input>
            </div>
            <div class="formGroup">
              <app-form-input
                label="Zip Code"
                type="text"
                placeholder="1213"
                [required]="true"
                [errorMessage]="getFieldError('zip')"
                name="zip"
                [(ngModel)]="restaurant.zip"
                #zipField="ngModel">
              </app-form-input>
            </div>
          </div>
        </div>
      </app-content-block>
    </div>
    
    <div class="col">
      <app-content-block title="Assign menu" [ngStyle]="{'gap': '0'}">
        <label style="color: var(--color-text-muted); margin-bottom: 8px"
          >Please assign a menu to this restaurant.</label
        >
        <div class="rowMenu">
          <div style="width: 32%">
            <app-form-select
              label="Select Menu"
              placeholder="Choose a menu"
              [options]="menuOptions"
              [(ngModel)]="selectedMenu"
              (selectionChange)="selectMenu($event.value)"
              name="selectedMenu">
            </app-form-select>
          </div>
          <p>
            Need to create a new menu for this restaurant?
            <a
              (click)="onAddMenuClick($event)"
              class="mainLink"
              style="width: 100%; text-align: right"
              >Click here</a
            >
          </p>
        </div>
      </app-content-block>


      <div class="blockItemsRow" *ngIf="mode === 'edit'">
        <app-content-block title="Restaurant Status" [ngStyle]="{'height': '140px', 'display': 'flex', 'flex-direction': 'column', 'justify-content': 'space-between'}">
          <div class="toggle-container">
            <label [style.color]="restaurantStatus ? '#16D3D2' : '#444444'">{{
              restaurantStatus ? "Active" : "Inactive"
            }}</label>
            <mat-slide-toggle
              [(ngModel)]="restaurantStatus"
              color="#16D3D2"
              name="restaurantStatus"
            ></mat-slide-toggle>
          </div>
        </app-content-block>
        <app-content-block title="Number of tables in the restaurant" customClass="contactBlock" [ngStyle]="{'height': '140px', 'display': 'flex', 'flex-direction': 'column', 'justify-content': 'space-between'}">
          <div class="row" style="align-items: center">
            <p style="width: 60%">Please enter a numerical value</p>
            <div style="width: 40%">
              <app-form-input
                label=""
                type="number"
                placeholder="Number of tables"
                [required]="true"
                [errorMessage]="getFieldError('selectedNumberTable')"
                [min]="1"
                [max]="100"
                [step]="1"
                name="selectedNumberTable"
                [(ngModel)]="selectedNumberTable"
                (input)="onNumberTableInput($event)">
              </app-form-input>
            </div>
          </div>
        </app-content-block>
      </div>

      <app-content-block title="Number of tables in the restaurant" customClass="contactBlock" *ngIf="mode === 'add'" [ngStyle]="{'height': '140px', 'display': 'flex', 'flex-direction': 'column', 'justify-content': 'space-between'}">
        <div class="row" style="align-items: center">
          <p style="width: 60%">Please enter a numerical value</p>
          <div style="width: 40%">
            <app-form-input
              label=""
              type="number"
              placeholder="Number of tables"
              [required]="true"
              [errorMessage]="getFieldError('selectedNumberTable')"
              [min]="1"
              [max]="100"
              [step]="1"
              name="selectedNumberTable"
              [(ngModel)]="selectedNumberTable"
              (input)="onNumberTableInput($event)">
            </app-form-input>
          </div>
        </div>
      </app-content-block>

      <div class="formGroup btnHolder" style="margin-top: 30px;">
        <button (click)="navigateWithUnsavedChangesCheck('/restaurants')" 
           class="hungr-btn hungr-btn-secondary">Cancel</button>
        <button type="button" (click)="saveDraft()" class="hungr-btn hungr-btn-secondary" *ngIf="mode === 'edit'">
          Save as draft
        </button>
        <button type="submit" class="hungr-btn hungr-btn-primary" [disabled]="!isFormValid()">
          {{ mode === 'add' ? 'Save Restaurant' : 'Update Restaurant' }}
        </button>
      </div>
    </div>
  </form>
</div>

<p class="success-message" *ngIf="isSaving">Saved</p>
