.inner-page {
  form {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    display: flex;
  }
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .block {
    /* Uses centralized block styling with default flex column layout */
  }
}

.content-block {
  height:100%;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: var(--spacing-4);
  justify-content: flex-start;
  align-items: flex-start;

  .formGroup {
    width: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.selectedOption {
  width: 100%;
  padding: var(--spacing-3);
  background-color: #f3f4f5;
  margin-bottom: var(--spacing-5);
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  text-align: center;

  span {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
}

.col .contactBlock {
  gap: 0;

  h6 {
    margin-bottom: var(--spacing-5);
  }

  .rowMenu {
    margin-top: 15px;

  }
}

.tableNum {
  color: #181818;
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 56px;
  background-color: #f3f4f5;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-3);
  padding: var(--spacing-3);
  background-color: #f3f4f5;
  border-radius: 4px;
  
  label {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    flex: 1;
  }
}

.btnHolder {
  display: flex;
  justify-content: center;
  gap: var(--spacing-5);
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    margin-top:0;
    margin-bottom: 30px;
  }
}

.success-message {
  width: 100%;
  text-align: center;
  font-size: var(--spacing-5);
  font-weight: 700;
}

label {
  color: var(--color-text-muted);
  font-weight: 400;
  font-size: 15px;
  line-height: 20.25px;
}

.rowMenu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-5);
  flex-direction: row;
  width: 100%;

  &.space-between {
    justify-content: space-between;
  }


  p {
    color: var(--color-text-muted);
    font-size: 14px;
    margin-top: 10px;
  }

  .menu-select-container {
    width: 32%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  mat-form-field {
    width: 32%;
  }

  .displaced {
    align-self: flex-end;
    margin-bottom:1rem;

    a { 
      color:var(--color-secondary);
    }
  }

  // Responsive mixin for flex-direction: column on mobile devices
  @media (max-width: 768px) {

      flex-direction: column;
      gap: var(--spacing-3);

      .displaced {
        align-self: flex-start;
        margin-bottom: 0;
      }
    
  }

}

.blockItems {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-5);
  flex-direction: row;
  width: 100%;
}

.blockItemsRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: var(--spacing-5);
  flex-direction: row;
  width: 100%;

  .block {
    width: calc(50% - var(--spacing-5));
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    .block {
      width: 100%;
    }
  }

  // a responsive mixin here that will make this display flex direction column

}

.col2row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  flex-direction: row;
  gap: 15px;

  .col {
    flex: 1;
    display: flex;
  }
}

input {
  height: 3var(--spacing-2) !important;
}

/* Number input specific styling */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pLinkText {
  font-weight: 400;
  font-size: 13px;
  line-height: 18.2px;
  color: var(--color-text-muted);
  margin-top: 41px;

  .mainLink {
    font-weight: 400;
    font-size: 13px;
    line-height: 18.2px;
    color: var(--color-text-muted);
  }
}

.block-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: var(--spacing-2);
  justify-content: space-between;
  align-items: flex-start;

  p {
    margin-top: 10px;
  }
}

/* Import design tokens */
@import "../../../../styles/_design-tokens";

/* Back Link styling - Now centralized in _design-tokens.scss */
.backLink {
  /* Using large variant for this component */
  @include backLink-large;
}

/* Block styling now uses centralized definition from design tokens */
/* Block row styling now uses .block.block-row from design tokens */

.font-small {
  color: var(--color-text-muted);
}

/* Validation styling - Legacy .formControl styles removed - now using app-form-input component */

.error-message {
  color: var(--color-error);
  font-size: var(--font-size-sm);
  margin-top: 4px;
  display: block;
}

.required {
  color: var(--color-error);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Material Design overrides */
::ng-deep mat-mdc-text-field-wrapper {
  height: 50px !important;
}

::ng-deep .mat-mdc-form-field-infix {
  height: 3var(--spacing-2) !important;
  justify-content: center;
  align-items: center;
  display: flex !important;
}

// Tables input field styling - make it wider
::ng-deep .tables-input {
  .form-input-wrapper {
    width: 100%;
    
    .input-container {
      width: 100%;
      
      .form-input {
        min-width: 200px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
  
  &.label-left {
    .input-container {
      flex: 1;
      min-width: 0;
    }
  }
}
