.popup{
    .row{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            p{
                margin: 0;
            }

            &:last-of-type{
                flex: 1;
            }
        }
    }
   
    h3{
        color: #2E3646;
        text-align: left;
    }
    label{
        color: #444444;
        text-align: left;
        margin-bottom: var(--spacing-3);
    }
    
    p{
        color: #181818;
        text-align: left;
        margin-bottom: 27px;
    }

    .btnHolder{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: var(--spacing-5);

        // Custom button styling removed to allow global styles to apply
    }
}

.error-message{
    color: #FF0000 !important;
}

.popup-content{
    width: 490px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 0;
}