<div class="block step1-container block-open-top">
  <div class="col3row">
    <div class="col">
      <div class="formGroup">
        <app-form-input
          label="Menu Name"
          class="full-width"
          type="text"
          placeholder="Name your menu"
          [required]="true"
          [errorMessage]="getMenuNameError()"
          [ngModel]="menuName"
          (ngModelChange)="onMenuNameChange($event)"
          (change)="onValidateMenuName()">
        </app-form-input>
      </div>
    </div>
    <div class="col restaurant-col" [ngClass]="{'col-resturant-set': addRestaurantLater}">
      <div class="formGroup" *ngIf="!addRestaurantLater">
        <app-form-select
          label="Assign Restaurant"
          placeholder="Assign your menu to a restaurant"
          [required]="true"
          [errorMessage]="getRestaurantError()"
          [options]="restaurantOptions"
          [ngModel]="selectedRestaurant"
          (ngModelChange)="onSelectedRestaurantChange($event)"
          (selectionChange)="onValidateRestaurant()">
        </app-form-select>
      </div>

    </div>
    <div class="col col-resturant-set pLine">
      <p class="pLinkText" >
        Need to create a new restaurant?
        <a class="add-restaurant-link" (click)="onAddRestaurantClick($event)">Click here.</a>
      </p>
    </div>
  </div>
</div>